<div class="container gc-section">
    <style>
        .slide_img { height: 440px; background-position: center; background-repeat: no-repeat; background-size: contain;}
        .slick-prev {
            left: 50px;
            z-index: 1;

        }
        .slick-next {
            right: 50px;
        }

    </style>

    <section>

        <h1 class="title" style="text-transform: none;">Weekly GeCo TGIF Aperitif at the time of Coronavirus (COVID-19) pandemic</h1>

        <div class="entry-content">

            <strong>On the <a target="_blank" href="https://zoom.us/">Zoom</a> platform, April 24, 2020</strong>

            <div class="ss-container" style="background-color: #232323; ">
                <div class="slideshow" style="">
                    <a target="_blank" href="aperitif/img_apr_24/img3.png">
                        <div class="slide_img" style="background-image: url('aperitif/img_apr_24/img3.png')"></div>
                    </a>
                    <a target="_blank" href="aperitif/img_apr_24/img2.png">
                        <div class="slide_img" style="background-image: url('aperitif/img_apr_24/img2.png')"></div>
                    </a>
                    <a target="_blank" href="aperitif/img_apr_24/img1.png">
                        <div class="slide_img" style="background-image: url('aperitif/img_apr_24/img1.png')"></div>
                    </a>
                </div>
            </div>

            <strong>On the <a target="_blank" href="https://zoom.us/">Zoom</a> platform, March 13, 2020</strong>


            <div class="ss-container" style="background-color: #232323; ">
                <div class="slideshow" style="">
                    <a target="_blank" href="aperitif/img/tgif1.jpeg">
                        <div class="slide_img" style="background-image: url('aperitif/img_lq/tgif1.jpeg')"></div>
                    </a>
                    <a target="_blank" href="aperitif/img/tgif2.jpeg">
                        <div class="slide_img" style="background-image: url('aperitif/img_lq/tgif2.jpeg')"></div>
                    </a>
                    <a target="_blank" href="aperitif/img/tgif3.png">
                        <div class="slide_img" style="background-image: url('aperitif/img_lq/tgif3.png')"></div>
                    </a>
                    <a target="_blank" href="aperitif/img/tgif4.png">
                        <div class="slide_img" style="background-image: url('aperitif/img_lq/tgif4.png')"></div>
                    </a>
                    <a target="_blank" href="aperitif/img/tgif5.png">
                        <div class="slide_img" style="background-image: url('aperitif/img_lq/tgif5.png')"></div>
                    </a>
                </div>
            </div>

            <script src="lib/slick/slick.min.js"></script>
            <script>
                $('.slideshow').slick({
                    dots: true,
                    infinite: true,
                    speed: 500,
                    fade: true,
                    cssEase: 'linear'
                });

            </script>

        </div><!-- .entry-content -->
    </section>


</div>
