<div class="container gc-section">
  <section>
    <h2 class="title">Collaborations</h2>
    <h3 class="subtitle collaboration-title">Computer Science collaborations</h3>
    <ul class="collaborations">
      <li>Roma1 University (Javier Fernandez, Maurizio Lenzerini): Ontology-based meta-data augmentation and query rewrite.</li>
      <li>Roma3 University (Emanuel Weitschek, Paolo Atzeni, Riccardo Torlone): Integration with TCGA.</li> 
      <li>University Bologna (Paolo Ciaccia, Ilaria Bartolini, Piero Montanari): Supporting pattern-based queries from the genome browser.</li>
      <li>Flink Group (Volker Markl, Asterios Katsifodimos): Flink Implementation.</li>
      <li>Paradigm 4 (Marylin Matz, Mike Stonebraker): SciDB Implementation.</li>
    </ul>

    <h3 class="subtitle collaboration-title">Data Science collaborations</h3>
    <ul class="collaborations">
      <li>Harvard University (Pavlos Protopapas)</li>
    </ul>

    <h3 class="subtitle collaboration-title">Biological collaborations</h3>
    <ul class="collaborations">
      <li>IEO-IIT (Pier Giuseppe Pelicci, Giuseppe Testa, Stefano Campaner, Bruno Amati).</li>
      <li>University of Insubria (Giovanni Porta).</li>
      <li>NUS Singapore (Limsoon Wong).</li>
      <li>Broad Institute (Noam Shoresh, Gad Getz).</li>
      <li>University of Michigan (John LiPuma).</li>
      <li>Stanford University (Gill Bejerano)</li>
    </ul>
  </section>
</div>