<div class="container gc-section">

    <!-- Seminars -->
    <section>
        <h3 class="title">Seminars:</h3>
        <div class="event seminar">
            <div class="name">
                Seminar at Technical University (TU) Berlin, May 11 2017
            </div>
            <div>
                <!--<div class="website text">-->
                <!--<a target="_blank" href="??">Website???</a>-->
                <!--</div>-->
                <div class="text font-weight-bold">Genomic Data Management – from “sense making” of genomic datasets to
                    an efficient implementation on the cloud.
                </div>
                <div class="organizer text">Stefano Ceri, Abdulrahman Kaitoua</div>
                In this seminar, we describe our approach to querying genomic datasets; the talk is divided in two
                parts, first we describe our approach and vision and then we focus on the technology which is currently
                deployed.
                <a href="#" data-toggle="collapse" data-target="#demo" onclick="this.text = (this.text === 'Read more')? 'Read less' : 'Read more' ">Read
                    more</a>
                <div id="demo" class="collapse">
                    In the first part, we define our approach to genomic data management and specifically we focus on
                    tertiary data management, i.e. the need of integrating region-based information describing
                    heterogeneous
                    experimental datasets in order to support biological and clinical discoveries. In this part we
                    define
                    GenoMetric Query Language (GMQL) as a high-level algebraic language for manipulating genomic
                    datasets
                    consisting of regions and metadata. We also explain our plans for building an integrated repository
                    of
                    open data and for supporting ontological search on metadata and pattern-based search on regions,
                    thereby
                    moving beyond the current state-of-art.
                    <br>
                    In the second part, we describe how GMQL is currently implemented on a cluster of nodes and uses
                    Spark, Flink, SciDB as underlying parallel data flow engines and scientific databases. We illustrate
                    how
                    a query is translated to a DAG representing operations over metadata and regions, and then how some
                    of
                    the operations are translated into Spark (for example). We next describe the architecture of our
                    framework GDMS (Scalable Genomic Data Management System) at Cineca
                    (<a href="https://www.cineca.it/" target="_blank">https://www.cineca.it/</a>), which makes use of a
                    cluster of nodes.
                </div>
                <br>
            </div>
            <br>
            <div class="name">
                Stefano Ceri, "Data-Driven Genomic Computing: Making Sense of the Signals from the Genome":
            </div>
            <ul class="p-l-1">
                <li class="text">
                    Single Cell Analysis, NGS & Clinical Diagnostics Congress in London, November 9 2017,
                    <a class="website" href="http://www.nextgenerationsequencing-congress.com/" target="_blank">Website</a>
                </li>
                <li class="text">
                    Joint ICSOFT 2017 and DATA 2017 Conferences in Madrid, July 24 2017,
                    <a class="website" href="http://www.dataconference.org/KeynoteSpeakers.aspx#3" target="_blank">Website</a>
                </li>
                <li class="text">
                    ICIC in Lahore, September 24 2016,
                    <a class="website" href="http://icic.umt.edu.pk/Keynote-Speakers.aspx" target="_blank">Website</a>
                </li>
                <li class="text">
                    ISMB in Orlando, July 12 2016,
                    <a class="website" href="http://www.iscb.org/cms_addon/conferences/ismb2016/specialsessions.php#SST03" target="_blank">Website</a>
                </li>
                <li class="text">
                    BITS in Salerno, June 17 2016,
                    <a class="website" href="http://bits2016.bioinformatics.it/index.html" target="_blank">Website</a>
                </li>
                <li class="text">
                    IIR in Venice, May 30 2016,
                    <a class="website" href="http://www.dais.unive.it/IIR2016/workshop-program/guest-and-invited-talks/" target="_blank">Website</a>
                </li>
                <li class="text">
                    VADA Workshop in Oxford, May 25 2016.
                </li>
                <li class="text">
                    GeCo Presentation at DEIB, May 18 2016,
                    <a class="website" href="http://www.deib.polimi.it/ita/eventi/dettagli/1090" target="_blank">Website</a>
                </li>
            </ul>

        </div>
    </section>

    <!-- Webinar -->
    <section>
        <h3 class="title">Webinars:</h3>
        <div class="event session">
            <div class="text font-weight-bold">
                Data-Driven Genomic Computing: Making Sense of the Signals from the Genome
            </div>

            <div class="where text">September 13 2017, 1:30 PM (UK Time)</div>
            <div class="website text">
                Website: TBA
                <!--<a target="_blank" href="??">Website</a>-->
            </div>
        </div>
    </section>

    <!-- Events -->
    <section>
        <h3 class="title">Events:</h3>
        <div class="event session">
            <div class="name">EDBT Panel</div>
            <div class="text font-weight-bold">Database Technology and Behavior, Security, Ethics, Rights and Duties of
                Citizens
            </div>
            <div class="where text">Venice, March 22 2017</div>
            <div class="website text">
                <a target="_blank" href="http://edbticdt2017.unive.it/?panel">Website</a>
            </div>
        </div>

        <div class="event session">
            <div class="name">Big Data e Privacy. La nuova geografia dei poteri</div>
            <div class="text font-weight-bold">Convegno per la Giornata Europea della protezione dei dati personali
            </div>
            <div class="where text">Roma, January 30 2017</div>
            <div class="website text">
                <a target="_blank" href="http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/5846360">Website</a>
                -
                <a target="_blank" href="https://youtu.be/zGeqa_UPnMc">Video</a>
            </div>
        </div>
    </section>


    <!-- Special sessions at Conferences: -->
    <section>
        <h3 class="title">Special sessions at Conferences:</h3>
        <div class="event session">
            <div class="name">ISMB 2016 - Intelligent Systems for Molecular Biology</div>
            <div class="where text">Orlando, July 8-12, 2016</div>
            <div class="text font-weight-bold">Session: Genomic Big Data Management, Modeling and Computing</div>
            <div class="organizer text">Organizers: Stefano Ceri, Marco Masseroli, Emanuel Weitschek</div>
            <div class="website text">
                <a target="_blank" href="http://www.iscb.org/cms_addon/conferences/ismb2016/specialsessions.php#SST03">Website</a>
            </div>
        </div>

        <div class="event session">
            <div class="name">BITS 2016 - 13th Annual Meeting of the Bioinformatics Italian Society</div>
            <div class="where text">University of Salerno, June 15-17, 2016</div>
            <div class="text font-weight-bold">Session: Genomic Big Data Management, Modeling and Computing</div>
            <div class="organizer text">Organizer: Marco Masseroli</div>
            <div class="website text">
                <a target="_blank" href="http://bits2016.bioinformatics.it/index.html">Website</a>
            </div>
        </div>
    </section>


</div>