<div class="container gc-section">

    <!-- Keynotes -->
    <section>
        <h3 class="title">Keynotes:</h3>
        <div class="event seminar">
            <div id="geco_project_extraction">
                <div class="name">
                    Stefano Ceri, "The GeCo Project: Extraction, Analysis and Integration of NGS Genomic Datasets":
                </div>
                <ul class="p-l-1">
                    <li class="text">
                        Duke-Nus Medical School, Singapore, November 19, 2018.
                        <a class="website" href="posters/Bioinformatics_Seminar_Poster_Stefano_Ceri-v2.pdf" target="_blank">Info</a>
                    </li>
                    <li class="text">
                        Open Café, Istituto Nazionale dei Tumori, November 11 2018.
                        <!--<a class="website" href="http://www.istitutotumori.mi.it" target="_blank">Website</a>-->
                    </li>
                    <li class="text">
                        Single Cell Analysis, NGS & Clinical Diagnostics Congress in London, November 8 2018,
                        <a class="website" href="http://www.nextgenerationsequencing-congress.com/" target="_blank">Website</a>
                    </li>
                </ul>
            </div>
            <div id="data_driven_geco">
                <div class="name">
                    Stefano Ceri, "Data-Driven Genomic Computing: Making Sense of the Signals from the Genome":
                </div>
                <ul class="p-l-1">
                    <li class="text">
                        CFCE SEMINAR - Center for Functional Cancer Epigenetics, Dana-Farber Cancer Institute
                        Boston, January 25 2019.
                        <a class="website" href="http://cfce.dfci.harvard.edu/events/cfce-seminar-data-driven-genomic-computing-making-sense-of-the-signals-from-the-genome/" target="_blank">Website</a>
                    </li>
                    <li class="text">
                        DMAH - International Workshop on Data Management and Analytics for Medicine and Healthcare,
                        Co-located with VLDB, Rio, August 31 2018.
                        <a class="website" href="http://dmah.info/keynote-speakers" target="_blank">Website</a>
                    </li>
                    <li class="text">
                        Distinguished lecture series, School of Computer and Communication Sciences at EPFL, Dec. 3 2017.
                        <a class="website" href="http://www.nextgenerationsequencing-congress.com/" target="_blank">Website</a>
                    </li>

                    <li class="text">
                        Single Cell Analysis, NGS & Clinical Diagnostics Congress in London, November 9, 2017.
                        <a class="website" href="http://www.nextgenerationsequencing-congress.com/" target="_blank">Website</a>
                    </li>
                    <li class="text">
                        DAMDID 2017 Conference in Moscow, October 9, 2017.
                        <a class="website" href="http://damdid2017.frccsc.ru/en/keynotes.html" target="_blank">Website</a>
                    </li>
                    <li class="text">
                        Joint ICSOFT 2017 and DATA 2017 Conferences in Madrid, July 24, 2017.
                        <a class="website" href="http://www.dataconference.org/KeynoteSpeakers.aspx#3" target="_blank">Website</a>
                    </li>
                    <li class="text">
                        ICIC in Lahore, September 24, 2016.
                        <a class="website" href="http://icic.umt.edu.pk/Keynote-Speakers.aspx" target="_blank">Website</a>
                    </li>
                    <li class="text">
                        ISMB in Orlando, July 12, 2016.
                        <a class="website" href="http://www.iscb.org/cms_addon/conferences/ismb2016/specialsessions.php#SST03" target="_blank">Website</a>
                    </li>
                    <li class="text">
                        BITS in Salerno, June 17, 2016.
                        <a class="website" href="http://bits2016.bioinformatics.it/index.html" target="_blank">Website</a>
                    </li>
                    <li class="text">
                        IIR in Venice, May 30, 2016.
                        <a class="website" href="http://www.dais.unive.it/IIR2016/workshop-program/guest-and-invited-talks/" target="_blank">Website</a>
                    </li>
                    <li class="text">
                        VADA Workshop in Oxford, May 25, 2016.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section>
    	<h3 class="title">Internal Seminars:</h3>

    	<ul>
            <li>Marco Di Giovanni, <i>Solving Differential Equations with Artificial Neural Networks</i>, 22/01/2019 16.00-17.00, Room Alario, Building 21</li>
            <li>Anna Bernasconi, <i>Meta-awareness: towards agreement on experimental metadata</i>, 16/01/2019 16.00-17.00, Room BIO1, Building 21</li>
            <li>Stefano Perna, <i>Data-driven Techniques for Knowledge Discovery in Regulomics</i>, 09/01/2019 16.00-17.00, Room Alario, Building 21</li>
            <li>Luca Nanni, <i>A roadmap of 3D genome research: Computational challenges</i>, 19/12/2018 16.00-17.00, Room BIO1, Building 21</li>
            <li>Francesco Pierri, <i>False news on social media: a survey</i>, 12/12/2018 16.00-17.00, Room BIO1, Building 21</li>
    	</ul>

</table>

    </section>

    <!-- Blogs -->
    <section>
        <h3 class="title">Blogs:</h3>
        <div class="event seminar">
            <ul class="p-l-1">
                <li class="article-item">
                    <span class="article-title">FireCloud (Broad Institute):</span>
                    New Featured workspace showcasing the GenoMetric Query Language, June 1, 2018,
                    <a target="_blank" href="https://software.broadinstitute.org/firecloud/blog?id=12125">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/FirecloudBlog.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">ODBMS.org:</span>
                    GeCo (Data-Driven Genomic Computing),  April 6, 2017,
                    <a target="_blank" href="http://www.odbms.org/2017/04/geco-data-driven-genomic-computing/">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/odbms.pdf">pdf</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Seminars -->
    <section>
        <h3 class="title">Seminars:</h3>
        <div class="event seminar">
            <div id="seminar_mario_negri">
                <div class="name">
                    Istituto di Ricerche Farmacologiche Mario Negri, Milano, April 16, 2018
                </div>
                <div>
                    <div class="text font-weight-bold">
                        Genomic Computing: processing heterogeneous genomic datasets for biomedical knowledge discovery
                    </div>
                    <div class="organizer text">Stefano Ceri, Marco Masseroli, Arif Canakoglu, Luca Nanni, Pietro
                        Pinoli
                    </div>
                    <div class="organizer text"><span class="font-weight-bold">Host:</span>Maddalena Fratelli</div>
                    <!--<a class="website" href="http://www.systems.ethz.ch/node/1117" target="_blank">Website</a>-->
                </div>
            </div>
            <br>

            <div id="seminar_broad">
                <div class="name">
                    Broad Institute, Cambridge, January 23, 2018
                </div>
                <div>
                    <div class="text font-weight-bold">
                        GMQL in the FireCloud Context: Issues and Opportunities
                    </div>
                    <div class="organizer text">Stefano Ceri, Luca Nanni, Pietro Pinoli</div>
                    <!--<a class="website" href="http://www.systems.ethz.ch/node/1117" target="_blank">Website</a>-->
                </div>
            </div>
            <br>

            <div id="seminar_eth">
                <div class="name">
                    IBM Zurich and ETH Zurich, July 20, 2017
                </div>
                <div>
                    <div class="text font-weight-bold">
                        Data-Driven Genomic Computing:
                        Making Sense of the Signals from the Genome
                        <br>
                        through systematic application design and open data repository
                    </div>
                    <div class="organizer text">Stefano Ceri, Anna Bernasconi, Pietro Pinoli</div>
                    <a class="website" href="http://www.systems.ethz.ch/node/1117" target="_blank">Website</a>

                </div>
            </div>
            <br>


            <div id="tu_berlin">
                <div class="name">
                    Seminar at Technical University (TU) Berlin, May 11, 2017
                </div>
                <div>
                    <!--<div class="website text">-->
                    <!--<a target="_blank" href="??">Website???</a>-->
                    <!--</div>-->
                    <div class="text font-weight-bold">Genomic Data Management – from “sense making” of genomic datasets
                        to
                        an efficient implementation on the cloud.
                    </div>
                    <div class="organizer text">Stefano Ceri, Abdulrahman Kaitoua</div>
                    <div class="seminar_paragraph">
                        In this seminar, we describe our approach to querying genomic datasets; the talk is divided in
                        two
                        parts, first we describe our approach and vision and then we focus on the technology which is
                        currently
                        deployed.
                        <span id="demo" class="collapse">
                        <br>
                        In the first part, we define our approach to genomic data management and specifically we focus
                        on
                        tertiary data management, i.e. the need of integrating region-based information describing
                        heterogeneous
                        experimental datasets in order to support biological and clinical discoveries. In this part we
                        define
                        GenoMetric Query Language (GMQL) as a high-level algebraic language for manipulating genomic
                        datasets
                        consisting of regions and metadata. We also explain our plans for building an integrated
                        repository
                        of
                        open data and for supporting ontological search on metadata and pattern-based search on regions,
                        thereby
                        moving beyond the current state-of-art.
                        <br>
                        In the second part, we describe how GMQL is currently implemented on a cluster of nodes and uses
                        Spark, Flink, SciDB as underlying parallel data flow engines and scientific databases. We
                        illustrate
                        how
                        a query is translated to a DAG representing operations over metadata and regions, and then how
                        some
                        of
                        the operations are translated into Spark (for example). We next describe the architecture of our
                        framework GDMS (Scalable Genomic Data Management System) at Cineca
                        (<a href="https://www.cineca.it/" target="_blank">https://www.cineca.it/</a>), which makes use
                        of a
                        cluster of nodes.
                        </span>
                        <br>
                        <a href="#" data-toggle="collapse" data-target="#demo"
                           onclick="this.text = (this.text === 'Read more')? 'Read less' : 'Read more' ">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Webinar -->
    <section>
        <h3 class="title">Webinars:</h3>
        <div class="event session">
            <div class="text font-weight-bold">
                Data-Driven Genomic Computing: Making Sense of the Signals from the Genome
            </div>

            <div class="where text">September 13, 2017, 1:30 PM (UK Time)</div>
            <div class="website text">
                Website: TBA
                <!--<a target="_blank" href="??">Website</a>-->
            </div>
        </div>
    </section>

    <!-- Events -->
    <section>
        <h3 class="title">Events:</h3>
        <div class="event session">
            <div class="name">EDBT Panel</div>
            <div class="text font-weight-bold">Database Technology and Behavior, Security, Ethics, Rights and Duties of
                Citizens
            </div>
            <div class="where text">Venice, March 22, 2017</div>
            <div class="website text">
                <a target="_blank" href="http://edbticdt2017.unive.it/?panel">Website</a>
            </div>
        </div>

        <div class="event session">
            <div class="name">Big Data e Privacy. La nuova geografia dei poteri</div>
            <div class="text font-weight-bold">Convegno per la Giornata Europea della protezione dei dati personali
            </div>
            <div class="where text">Roma, January 30, 2017</div>
            <div class="website text">
                <a target="_blank" href="http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/5846360">Website</a>
                -
                <a target="_blank" href="https://youtu.be/zGeqa_UPnMc">Video</a>
                -
                <a target="_blank" class="pdf" href="http://194.242.234.211/documents/10160/0/Big+Data+e+Privacy+-+Atti+del+Convegno+del+30+gennaio+2017.pdf">Proceedings</a>
            </div>
        </div>
    </section>


    <!-- Special sessions at Conferences: -->
    <section>
        <h3 class="title">Special sessions at Conferences:</h3>
        <div class="event session">
            <div class="name">ISMB 2016 - Intelligent Systems for Molecular Biology</div>
            <div class="where text">Orlando, July 8-12, 2016</div>
            <div class="text font-weight-bold">Session: Genomic Big Data Management, Modeling and Computing</div>
            <div class="organizer text">Organizers: Stefano Ceri, Marco Masseroli, Emanuel Weitschek</div>
            <div class="website text">
                <a target="_blank" href="http://www.iscb.org/cms_addon/conferences/ismb2016/specialsessions.php#SST03">Website</a>
            </div>
        </div>

        <div class="event session">
            <div class="name">BITS 2016 - 13th Annual Meeting of the Bioinformatics Italian Society</div>
            <div class="where text">University of Salerno, June 15-17, 2016</div>
            <div class="text font-weight-bold">Session: Genomic Big Data Management, Modeling and Computing</div>
            <div class="organizer text">Organizer: Marco Masseroli</div>
            <div class="website text">
                <a target="_blank" href="http://bits2016.bioinformatics.it/index.html">Website</a>
            </div>
        </div>
    </section>


</div>