<div class="container gc-section">
  
  <!-- Seminars -->
  <section>
    <h3 class="title">Seminars:</h3>
    <p>
      <div class="event seminar">
        <div class="name">
          Stefano Ceri, "Data-Driven Genomic Computing: Making Sense of the Signals from the Genome":
        </div>
        <ul class="p-l-1">
          <li class="text">
            Joint ICSOFT 2017 and DATA 2017 Conferences in Madrid
            Data Conference in Madrid,
            <a class="website" href="http://www.dataconference.org/KeynoteSpeakers.aspx#3" target="_blank">Website</a>
            <img  src="imgs/new-64x64.png" alt="Cost per Genome" style="max-height: 20px;">
          </li>
          
          
          
          <li class="text">
            ICIC in Lahore, September 24 2016, 
            <a class="website" href="http://icic.umt.edu.pk/Keynote-Speakers.aspx" target="_blank">Website</a>
          </li>
          <li class="text">
            ISMB in Orlando, July 12 2016,
            <a class="website" href="http://www.iscb.org/cms_addon/conferences/ismb2016/specialsessions.php#SST03" target="_blank">Website</a>
          </li>
          <li class="text">
            BITS in Salerno, June 17 2016,
            <a class="website" href="http://bits2016.bioinformatics.it/index.html" target="_blank">Website</a>
          </li>
          <li class="text">
            IIR in Venice, May 30 2016, 
            <a class="website" href="http://www.dais.unive.it/IIR2016/workshop-program/guest-and-invited-talks/" target="_blank">Website</a>
          </li>
          <li class="text">
            VADA Workshop in Oxford, May 25 2016.
          </li>
          <li class="text">
            GeCo Presentation at DEIB, May 18 2016,
            <a class="website" href="http://www.deib.polimi.it/ita/eventi/dettagli/1090" target="_blank">Website</a>
          </li>
        </ul>
        
      </div>
    </p>
  </section>
  
    <!-- Events -->
  <section>
    <h3 class="title">Events:</h3>
    <p>
      <div class="event session">
        <div class="name">EDBT Panel             <img  src="imgs/new-64x64.png" alt="Cost per Genome" style="max-height: 20px;"> </div>
        <div class="text font-weight-bold">Database Technology and Behavior, Security, Ethics, Rights and Duties of Citizens</div> 
        <div class="where text">Venice, March 22 2017</div>
        <div class="website text">
          <a target="_blank" href="http://edbticdt2017.unive.it/?panel">Website</a>
        </div>
      </div>
	  
      <div class="event session">
        <div class="name">Big Data e Privacy. La nuova geografia dei poteri</div>
        <div class="text font-weight-bold">Convegno per la Giornata Europea della protezione dei dati personali</div> 
        <div class="where text">Roma, January 30 2017</div>
        <div class="website text">
          <a target="_blank" href="http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/5846360">Website</a>
          -
          <a target="_blank" href="https://youtu.be/zGeqa_UPnMc">Video</a>
        </div>
      </div>
  </section>


  <!-- Special sessions at Conferences: -->
  <section>
    <h3 class="title">Special sessions at Conferences:</h3>
    <p>
      <div class="event session">
        <div class="name">ISMB 2016 - Intelligent Systems for Molecular Biology</div>
        <div class="where text">Orlando, July 8-12, 2016</div>
        <div class="text font-weight-bold">Session: Genomic Big Data Management, Modeling and Computing</div> 
        <div class="organizer text">Organizers: Stefano Ceri, Marco Masseroli, Emanuel Weitschek</div>
        <div class="website text">
          <a target="_blank" href="http://www.iscb.org/cms_addon/conferences/ismb2016/specialsessions.php#SST03">Website</a>
        </div>
      </div>
      
      <div class="event session">
        <div class="name">BITS 2016 - 13th Annual Meeting of the Bioinformatics Italian Society</div>
        <div class="where text">University of Salerno, June 15-17, 2016</div>
        <div class="text font-weight-bold">Session: Genomic Big Data Management, Modeling and Computing</div> 
        <div class="organizer text">Organizer: Marco Masseroli</div>
        <div class="website text">
          <a target="_blank" href="http://bits2016.bioinformatics.it/index.html">Website</a>
        </div>
      </div>
      

    </p>
  </section>

  
</div>