<!--video-->
<div class="container-fluid gc-section">
    <div class="container">

        During the last two years of GeCo we started the development of GeCoAgent, a fully integrated, user-centred web platform aimed at empowering end-user competences for exploiting GeCo in building human genomics applications. We systematically analysed the design processes conducted using GeCo; we learned that these processes reflect a common interaction pattern, in which a data extraction phase produces an informed definition of the datasets necessary to respond to the specific need of the clinician or biologist, and then a data analysis phase selects the computational procedures (including statistical tools and machine or deep learning libraries) and progressively tunes them so as to build and understand results. Data extraction primarily uses GeCo technology (repositories and tools), whereas data analysis uses classic methods of data science. After both phases, datasets and results can be inspected by means of data visualizations.

        <br>
        <br>
        Along with this pattern, we designed GeCoAgent as a unique multi-modal tool combining a conversational interface for data extraction and analysis with powerful data visualizations. GeCoAgent uses a conversational agent in the form of a chat box and a dashboard with several objects, progressively built and shown to the user as the interaction goes on.  GeCoAgent acts as a soft virtual bioinformatics assistant; the dialogic flow between the user and GeCoAgent web-platform integrates, in a continuous interaction, the use of dialogue to drive actions and of visuals to show results. GeCoAgent directly addresses genomics experts, who often get stuck within a routine of fixed interactions with computing systems, and directly produces streamlined, cleaner and error-free solutions from requirements.


<!--        <h3>Project presentation</h3>-->
<!--        Presentation of the project is available at <a target="_blank" href="documentation/GeCo5.0.pdf">link</a>.-->

        <br>
        <br>
        <h3>GECO-AGENT PUBLICATIONS</h3>

        <ul class="publications">


            <!--Pidò S, Crovari P, Garzotto F. Modeling the Bioinformatics Tertiary Analysis Research Process. BMC
            Bioinformatics.-->


            <!--GeCoAgent-->
            <li>
                <em>Crovari P, Pidò S, Pinoli P, Bernasconi A, Canakoglu A, Garzotto F, Ceri S.</em>
                <strong>GeCoAgent: a Conversational Agent
                    for Empowering Genomic Data Extraction and Analysis.</strong>
                Accepted to the ACM Transactions on Computing for Healthcare
                <a target="_blank" class="pdf" href="publications/41330654_File000001_1022346825.pdf">pdf</a>
            </li>


            <!--show dontell-->
            <li>
                <em>Crovari P, Pidò S, Garzotto F, Ceri S.</em>
                <strong>Show, Don’t Tell. Reflections on the Design of Multi- modal Conversational Interfaces.</strong>
                In International Workshop on Chatbot Research and Design 2020 Nov 23 (pp. 64-77). Springer, Cham.
                DOI: 10.1007/978-3-030-68288-0_5
                <a target="_blank" href="https://doi.org/10.1007/978-3-030-68288-0_5">Publisher's link</a>
                -
                <a target="_blank" class="pdf" href="publications/2020_Conversations___Design_Principles.pdf">pdf</a>
            </li>


            <!--CMLS2020-->
            <li>
                <em>Crovari P, Pidò S, Garzotto F.</em>
                <strong>Towards an Ontology for Tertiary Bioinformatics Research Process.</strong>
                In International Conference on Conceptual Modeling 2020 Nov 3 (pp. 82-91). Springer, Cham.
                DOI: 10.1007/978-3-030-65847-2_8
                <a target="_blank" href="https://doi.org/10.1007/978-3-030-65847-2_8">Publisher's link</a>
                -
                <a target="_blank" class="pdf" href="publications/2020__CMLS___Hierarchical_task_analysis.pdf">pdf</a>
            </li>


            <!--OKDNA-->
            <li>
                <em>Crovari, P., Catania, F., Pinoli, P., Roytburg, P., Salzar, A., Garzotto, F. and Ceri, S.</em>
                <strong>OK, DNA! A Conversational Interface to Explore Genomic Data.</strong>
                OK, DNA! A Conversational Interface to Explore Genomic Data.
                In Proceedings of the 2nd Conference on Conversational User Interfaces, 2020, July.
                DOI: 10.1145/3405755.3406163
                <a target="_blank" href="https://dl.acm.org/doi/10.1145/3405755.3406163">Publisher's link</a>
                -
                <a target="_blank" class="pdf" href="publications/2020_CUI_Ok__DNA_.pdf">pdf</a>
            </li>



        </ul>

    </div>

</div>