
<!--video-->
<div class="container-fluid gc-section">
 <div class="container">

     In the broader context of the GeCo project, which already includes
     a query language and engine for answering complex biological queries
     and a large repository of processed genomic data,
     we also focused on simplifying the use of the produced tools and connecting them within an integrated environment
     that can be used by biologists and clinicians, even with a limited technological background.
     GeCo 5.0 represents this spin-off project of GeCo.


  <h3>Project presentation</h3>
     Presentation of the project is available at <a target="_blank" href="documentation/GeCo5.0.pdf">link</a>.

  <h3>GeCo 5.0 publications</h3>

     <!--Crovari, P., Catania, F., Pinoli, P., Roytburg, P., Salzar, A., Garzotto, F. and Ceri, S., 2020, July. OK, DNA! A Conversational Interface to Explore Genomic Data. In Proceedings of the 2nd Conference on Conversational User Interfaces (pp. 1-3).
     https://dl.acm.org/doi/10.1145/3405755.3406163-->

     <!--Pidò S, Crovari P, Garzotto F. Modeling the Bioinformatics Tertiary Analysis Research Process. BMC
     Bioinformatics.-->




     <!--GeCoAgent-->
     <li>
         <em>Crovari P, Pidò S, Pinoli P, Bernasconi A, Canakoglu A, Garzotto F, Ceri S.</em>
         <strong>GeCoAgent: a Conversational Agent
             for Empowering Genomic Data Extraction and Analysis.</strong>
         Accepted to the ACM Transactions on Computing for Healthcare
         <a target="_blank" class="pdf" href="publications/41330654_File000001_1022346825.pdf">pdf</a>
     </li>


     <!--show dontell-->
     <li>
         <em>Crovari P, Pidò S, Garzotto F, Ceri S.</em>
         <strong>Show, Don’t Tell. Reflections on the Design of Multi- modal Conversational Interfaces.</strong>
         In International Workshop on Chatbot Research and Design 2020 Nov 23 (pp. 64-77). Springer, Cham.
         DOI: 10.1007/978-3-030-68288-0_5
         <a target="_blank" href="https://doi.org/10.1007/978-3-030-68288-0_5">Publisher's link</a>
         -
         <a target="_blank" class="pdf" href="publications/2020_Conversations___Design_Principles.pdf">pdf</a>
     </li>


     <!--CMLS2020-->
     <li>
         <em>Crovari P, Pidò S, Garzotto F.</em>
         <strong>Towards an Ontology for Tertiary Bioinformatics Research Process.</strong>
         In International Conference on Conceptual Modeling 2020 Nov 3 (pp. 82-91). Springer, Cham.
         DOI: 10.1007/978-3-030-65847-2_8
         <a target="_blank" href="https://doi.org/10.1007/978-3-030-65847-2_8">Publisher's link</a>
         -
         <a target="_blank" class="pdf" href="publications/2020__CMLS___Hierarchical_task_analysis.pdf">pdf</a>
     </li>


 </div>

</div>