<!-- Jumbotron -->
<div class="container-fluid gc-section gc-full gc-image" style="background-image: url('imgs/home-bg.jpg');">
    <div class="container">
        <div class="jumbotron gc-jumbotron text-xs-center">
            <img src="imgs/logo-poli.png" alt="Politecnico di Milano">
            <h1 class="title">
                DATA-DRIVEN GENOMIC COMPUTING<br>
                (<span class="geco">GeCo</span>)<br>
                <img src="imgs/logo-geco.png" alt="Logo Geco" class="logo-geco">
            </h1>
            <h1>
                <div class="subtitle">ERC Advanced Grant (693174), September 2016 - August 2021</div>
            </h1>
            <p class="title-award light-text">
                Scroll down to know more
            </p>
            <div class="text-xs-center">
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </div>
</div>
<!--<div class="container gc-section gc-image" style="background-image: url('imgs/home-bg.jpg');">-->
<!--</div>-->


<div class="container gc-section">

    <!-- ERC -->
    <section>
        <a href="https://erc.europa.eu/" target="_blank"><img class="gc-erc-logo" src="imgs/logo-erc.png" alt="ERC"></a>
        <img class="gc-european-logo" src="imgs/flag_yellow_low.jpg" alt="European flag">
        <h3 class="title">ERC Advanced Grant</h3>
        <p class="text">
            GeCo (Data-Driven Genomic Computing) is focused on tertiary analysis for genomic data integration, as a new
            data-driven basic science based on a simple driving principle: data should express high-level properties of
            DNA regions and samples, high-level data management languages should express biological questions with
            simple, powerful, orthogonal abstractions.
        </p>
        <p class="text">
            Although this idea is very simple, putting it in action is far from trivial, as it requires a radical change
            of the dominant approach. Along these principles, it is possible to build a progressive revolution of
            genomic computing, towards important outcomes, such as the integrated access to large repositories of
            sequences and the building of an Internet of genomic computing services providing Google-like processing and
            search.
        </p>
        <p class="text">
            During the five-years of the ERC project, the system will be enriched with data analysis tools and
            environments and will be made increasingly efficient. Among the objectives of the project, the creation of
            an “open source” system available to biological and clinical research; while the GeCo project will provide
            public services which only use public data (anonymized and made available for secondary use, i.e., knowledge
            discovery), the use of the GeCo system within protected clinical contexts will enable personalized medicine,
            i.e. the adaptation of therapies to specific genetic features of patients.
            <!-- New paragraph? -->
            The most ambitious objective is the development, during the 5-years ERC project, of an “Internet for
            Genomics”, i.e. a protocol for collecting data from Consortia and individual researchers, and a “Google for
            Genomics”, supporting indexing and search over huge collections of genomic datasets.
        </p>

        <!-- Press release -->
        <div class="text">

            <!-- LINKS -->
            <strong>Links</strong>:
            <ul class="article-item">
                <li class="press-item">
                    <span class="article-title">Press release</span> <span class="article-date">12-05-2016</span>
                    <a href="http://www.polimi.it/?id=3936&tx_wfqbe_pi1[id]=862" target="_blank">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/Comst_genomica_computazionale.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">ODBMS.org</span> <span class="article-date">06-04-2017</span>
                    <a target="_blank" href="http://www.odbms.org/2017/04/geco-data-driven-genomic-computing/">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/odbms.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">FireCloud - Blog</span> <span class="article-date">01-06-2018</span>
                    <a target="_blank" href="https://software.broadinstitute.org/firecloud/blog?id=12125">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/FirecloudBlog.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">Press release</span> <span class="article-date">21-06-2018</span>
                    <a href="https://www.polimi.it/?id=3936&tx_wfqbe_pi1[id]=1043" target="_blank">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/Comst_GeCo.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">Press release</span> <span class="article-date">23-11-2020</span>
                    <a href="https://www.polimi.it/?id=3936&tx_wfqbe_pi1%5bid%5d=1198" target="_blank">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/PRESS.POLIMI_VIRUSURF.pdf">pdf</a>
                </li>
            </ul>
            <!-- Articles EN-->
            <strong>Articles (English)</strong>:
            <ul class="articles p-l-1 m-t-1">
                <li class="article-item">
                    <span class="article-title">European GeCo Project Aims to Replace Dominant Genomic Computing Methods</span>,
                    <span class="article-magazine">GenomeWeb</span> <span class="article-date">29-08-2016</span>
                    <a target="_blank" href="https://www.genomeweb.com/informatics/european-geco-project-aims-replace-dominant-genomic-computing-methods">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/GenomeWeb.pdf">pdf</a>
                </li>
            </ul>

            <!-- Articles IT -->
            <strong>Articles (Italian)</strong>:
            <ul class="articles p-l-1 m-t-1">
                <li class="article-item">
                    <span class="article-title">Combattere gravi malattie con la genomica computazionale guidata dai dati</span>,
                    <span class="article-magazine">Agenda Digitale</span> <span class="article-date">13-06-2016</span>
                    <a target="_blank" href="http://www.agendadigitale.eu/infrastrutture/combattere-gravi-malattie-con-la-genomica-computazionale-guidata-dai-dati_2241.htm">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/AgendaDigitale.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">Genomica Computazionale: parte un progetto per la medicina del futuro</span>,
                    <span class="article-magazine">Corriere della Sera - Universitime</span> <span class="article-date">13-05-2016</span>
                    <a target="_blank" href="http://universitime.corriere.it/2016/05/13/genomica-computazionale-parte-un-progetto-per-la-medicina-del-futuro/">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/CorrieredellaSeraUniversitime.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">L'europa si affida al Politecnico di Milano per creare il Google della genomica</span>,
                    <span class="article-magazine">Research Italy</span> <span class="article-date">19-05-2016</span>
                    <a target="_blank" href="https://www.researchitaly.it/conoscere/progetti-e-storie-di-successo/grandi-progetti/l-europa-si-affida-al-politecnico-di-milano-per-creare-il-google-della-genomica/">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/ResearchItaly.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">Ricerca, medicina guarda al futuro con la Genomica Computazionale, progetto di Stefano Ceri (Polimi)</span>,
                    <span class="article-magazine">Ask a news</span> <span class="article-date">13-05-2016</span>
                    <a target="_blank" href="http://www.askanews.it/regioni/lombardia/ricerca-medicina-guarda-al-futuro-con-la-genomica-computazionale_711810164.htm">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/AskANews.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">Ricerca, medicina guarda al futuro con la Genomica Computazionale</span>,
                    <span class="article-magazine">Yahoo Notizie</span> <span class="article-date">13-05-2016</span>
                    <!--<a target="_blank" href="https://it.notizie.yahoo.com/ricerca-medicina-guarda-al-futuro-con-la-genomica-112715166.html">link</a>-->
                    <!--+-->
                    <a target="_blank" class="pdf" href="articles/YahooNotizie.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">Ricerca, medicina guarda al futuro con la Genomica Computazionale</span>,
                    <span class="article-magazine">Le ultimie notizie</span>
                    <span class="article-date">13-05-2016</span>
                    <!--<a target="_blank" href="#">link</a>-->
                    <!--+-->
                    <!--<a target="_blank" class="pdf" href="http://new.ecostampa.net/imm2pdf/Image.aspx?&imgatt=57I9PX&imganno=2016&imgkey=B1TMOI8G1JDV3">pdf</a>-->
                </li>
                <li class="article-item">
                    <span class="article-title">Medicina: si guarda al futuro con la Genomica Computazionale</span>,
                    <span class="article-magazine">Meteo web</span> <span class="article-date">13-05-2016</span>
                    <a target="_blank" href="http://www.meteoweb.eu/2016/05/medicina-si-guarda-al-futuro-con-la-genomica-computazionale/686111/">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/MeteoWeb.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">Milano, Politecnico: seminarion su Genomica Computazionale</span>,
                    <span class="article-magazine">Agielle news</span> <span class="article-date">12-05-2016</span>
                    <!--<a target="_blank" href="#">link</a>-->
                    <!--+-->
                    <!--<a target="_blank" class="pdf" href="http://new.ecostampa.net/imm2pdf/Image.aspx?&imgatt=57BRON&imganno=2016&imgkey=B1TMOI8G1JDV3">pdf</a>-->
                </li>
                <li class="article-item">
                    <span class="article-title">Genomica Computazionale: parte un progetto per la medicina del futuro</span>,
                    <span class="article-magazine">Le scienze web news</span>
                    <span class="article-date">12-05-2016</span>
                    <!--<a target="_blank" href="http://www.lswn.it/comunicati-stampa/genomica-computazionale-parte-un-progetto-per-la-medicina-del-futuro/">link</a>-->
                    <!--+-->
                    <!--<a target="_blank" class="pdf" href="http://new.ecostampa.net/imm2pdf/Image.aspx?&imgatt=57GVJH&imganno=2016&imgkey=B1TMOI8G1JDV3">pdf</a>-->
                </li>
                <li class="article-item">
                    <span class="article-title">Genomica Computazionale: la medicina del futuro</span>,
                    <span class="article-magazine">Ok medicina</span> <span class="article-date">12-05-2016</span>
                    <a target="_blank" href="http://www.okmedicina.it/index.php?option=com_community&view=groups&task=viewbulletin&groupid=17&bulletinid=3357&Itemid=188">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/OkMedicina.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">Politecnico, Genomica Computazionale: parte progetto per medicina del futuro</span>,
                    <span class="article-magazine">Repubblca.it - Milano</span>
                    <span class="article-date">12-05-2016</span>
                    <a target="_blank" href="http://milano.repubblica.it/dettaglio-news/-/31507">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/Republica.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">Politecnico, Genomica Computazionale: parte progetto per medicina del futuro</span>,
                    <span class="article-magazine">Omni Milano</span> <span class="article-date">12-05-2016</span>
                    <a target="_blank" href="http://sito.omnimilano.it/politecnico-genomica-computazionale-parte-progetto-per-medicina-del-futuro/">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/OmniMilano.pdf">pdf</a>
                </li>
                <li class="article-item">
                    <span class="article-title">Al Politecnico di Milano si lavora per rivoluzionare lo studio del DNA</span>,
                    <span class="article-magazine">Il sole 24 ore - Scuola 24</span> <span class="article-date">05-05-2016</span>
                    <a target="_blank" href="http://www.scuola24.ilsole24ore.com/art/universita-e-ricerca/2016-05-05/al-politecnico-milano-si-lavora-rivoluzionare-studio-dna-180857.php?uuid=ADR3hQB">link</a>
                    +
                    <a target="_blank" class="pdf" href="articles/IlSole24Ore.pdf">pdf</a>
                </li>
            </ul>


        </div>

        <div class="text" style="margin-bottom: 0.2rem;">
            <strong>Poster</strong>:
            <div class="p-l-1 m-t-1">
                <a href="posters/poster_ERC_GeCo_Final.pdf" target="_blank">
                    <img src="posters/poster_ERC_GeCo_Final.jpg" alt="ERC GeCo Poster" width="144">
                    <div class="caption text-center">ERC GeCo Poster</div>
                </a>
            </div>
        </div>

    </section>
    <div class="text" style="margin-bottom: 0.2rem;">
        <strong>Background</strong>:
        <div class="p-l-1 m-t-1">
            <p class="text">
                <a href="http://www.bioinformatics.deib.polimi.it/genomic_computing/" target="_blank">Genomic
                    Computing</a>
            </p>
        </div>
    </div>
</div>