<div class="container gc-section">
  <section>
    <h2 class="title">Open positions</h2>
    <h3 class="subtitle collaboration-title">Open PhD and PostDoc positions</h3>
    <p class="text">
        In the context of the ERC Advanced Grant GeCo (data-driven Genomic Computing)(Sept. 2016- Aug. 2021) we offer new positions in Computer Science & Engineering as PhD student in Information Technology (<a href="http://dottorato.iinfo.polimi.it/">http://dottorato.iinfo.polimi.it/</a>) or as a PostDoc at the Dipartimento di Elettronica, Informazione e Bioingegneria (<a href="http://www.deib.polimi.it/eng/home-page">DEIB</a>) of <a href="http://www.polimi.it/">Politecnico di Milano</a>.
    </p>
<!--
    <p class="text">
        GeCo (http://www.bioinformatics.deib.polimi.it/geco/) is focused on the management and analysis of genomic data. The project aims at building a powerful data computing infrastructure at the receiving end of DNA sequencing machines, for enabling viewing, querying, analyzing, mining, and searching over a world-wide available collection of genomic data. The project goal is generating an open-source, standard, highly efficient and easily usable computational framework to support scientists in genome-related research. 
    </p>
-->
    <p class="text">
        We welcome PhD candidates who have a Master degree in Computer Science (where a background in Bioinformatics is preferred) or completed a Master with strong characterization in Genomics (as documented by a study list); we also welcome candidate PostDoc students who have obtained their PhD in the areas of cloud-based data management or of applied statistics / machine learning, and who are willing to apply their competences to the domain of genomic computing. We are seeking highly motivated candidates who will have the opportunity to develop an interdisciplinary research project, working in close collaboration with many scientists and researchers.
    </p>
    <p class="text">
        Interested candidates should send their curriculum vitae, a motivation letter and contact details of at least two persons who could provide a recommendation letter, to:
        <br>
        <a href="mailto:stefano.ceri@polimi.it">stefano.ceri@polimi.it</a>
        <br>
        <a href="mailto:marco.masseroli@polimi.it">marco.masseroli@polimi.it</a>
    </p>
    <p class="text">
        Candidates may be invited to a colloquium, e.g. using Skype. While post-docs have no specific deadlines, PhD must apply before December 15 or March 15, so as to comply with the University's entry times.
    </p>
  </section>
</div>
