<!-- BIOLOGICAL PROJECT -->
<div class="container-fluid gc-section gc-image" style="background-image: url('imgs/gendata_bg.jpg'); min-height: 27rem;">
  <div class="container">
    <section>
      <h3 class="title">GENDATA</h3>
    </section>
  </div>
</div>

<div class="container gc-section">
  <!-- GENDATA -->
  <section>
    <p>
      The GenData 2020 project (March 2013 - February 2016, PRIN, Funded by MIUR) has been conducted by nine universities throughout Italy.
    </p>
    <p>
      During the project we designed the Genomic Data Model (GDM) and the GenoMetric Query Language (GMQL).
      In addition to independent research conducted by each Project Partner, several prototypes were jointly developed; among them:
      <ul class="p-l-o">
        <li>PaGeS, a tool for finding Patterns in Genomic Sequences jointly developed with University of Bologna</li>
        <li>SOSGeM, a semantic data integrator for supporting search upon ENCODE metadata, jointly developed with Sapienza University of Rome</li>
        <li>TCGA2BED, for converting TCGA data to GDM, developed with University of Rome</li>
      </ul>
    </p>
    <p>
      <a href="http://www.bioinformatics.deib.polimi.it/gendata/">http://www.bioinformatics.deib.polimi.it/gendata/</a>
    </p>
  </section>
</div>




<!-- BIOLOGICAL PROJECT -->
<div class="container-fluid gc-section gc-image" style="background-image: url('imgs/biological_bg.jpg'); min-height: 27rem;">
  <div class="container">
    <section>
      <h3 class="title">BIOLOGICAL PROJECTS</h3>
    </section>
  </div>
</div>
<div class="container gc-section">
  <!-- BIOLOGICAL PROJECTS -->
  <section>
    <p>
      <ul class="p-l-0">
        <li>STUDY OF TOPOLOGICAL DOMAINS AND THEIR JUNCTION ALTERATION, AS A POTENTIAL CAUSE OF TUMORS. Joint work with IEO (P.G. Pelicci, E. Fontana, I. Dellino, L. Luzi) and Harvard IACS (P. Protopapas).</li>
        <li>DNA SEQUENCING OF MICROBIOMA IN CYSTIC FIBROSIS PATIENTS WHO ARE COLONIZED WITH MYCOBACTERIUM ABSCESSUS. Joint work with D. Costantini and L. Cariati (Policlinico Milano), G. Porta (U. Insubria), R. Rossi Colwell (U. Maryland), J. LiPuma (U. Michigan)</li>
        <li>IDENTIFICATION OF TFS THAT CO-REGULATE GENES IN RIGID AND COMPACT PAIRS (DIMERS). Joint with L. Wong (NUS Singapore).</li>
        <li>IDENTIFICATION OF TFS THAT CO-OCCUR WITH TEAD4 BINDING SITES. Joint work with S. Campaner (IEO-IIT).</li>
        <li>DETECT DNA AREAS WHERE MULTIPLE TFS BIND (DENSE TF BINDING REGIONS). Joint work with S. Campaner (IEO-IIT).</li>
      </ul>
    </p>
  </section>
</div>