<div class="container gc-section">
    <section>
        <h2 class="title">Selected publications</h2>

        <ul class="publications">
            <li>
                <em>Kaitoua A, Pinoli P, Bertoni M, Ceri S.</em>
                <strong>Framework for Supporting Genomic Operations</strong>
                IEEE-TC, 2016, DOI 10.1109/TC.2016.2603980
                <a target="_blank" class="pdf" href="publications/Framework.pdf">pdf</a>
            <li>
                <em>Masseroli M, Pinoli P, Venco F, Kaitoua A, Jalili V, Palluzzi F, Muller H, Ceri S.</em>
                <strong>GenoMetric Query Language: A novel approach to large-scale genomic data management.</strong>
                Bioinformatics 2015; 31(12): 1881-1888.
                DOI: 10.1093/bioinformatics/btv048
                <a target="_blank" class="pdf" href="publications/Bioinformatics-2015-Masseroli-1881-8.pdf">pdf</a>
            </li>
            <li>
                <em>Masseroli M, Kaitoua A, Pinoli P, Ceri S.</em>
                <strong>Modeling and interoperability of heterogeneous genomic big data for integrative processing and
                    querying.</strong>
                Methods, 2016.
                DOI: 10.1016/j.ymeth.2016.09.002
                <a target="_blank" class="pdf" href="publications/METHODS-10.1016_j.ymeth.2016.09.002.pdf">pdf</a>
            </li>
            <li>
                <em>Ceri S, Kaitoua A, Masseroli M, Pinoli P, Venco F.</em>
                <strong>Data management for heterogeneous genomic datasets.</strong>
                IEEE/ACM Transactions on Computational Biology and Bioinformatics 2016.
                DOI: 10.1109/TCBB.2016.2576447
                <a target="_blank" class="pdf" href="publications/ieee_GMQL.pdf">pdf</a>
            </li>
            <li>
                <em>Fernandez JD, Lenzerini M, Masseroli M, Venco F, Ceri S.</em>
                <strong>Ontology-based search of genomic metadata.</strong>
                IEEE/ACM Transactions on Computational Biology and Bioinformatics 2016; 13(2):233-247.
                DOI: 10.1109/TCBB.2015.2495179
                <a target="_blank" class="pdf" href="publications/ieee_Encode.pdf">pdf</a>
            </li>
            <li>
                <em>Montanari P, Bartolini I, Ciaccia P, Patella M, Ceri S, Masseroli M.</em>
                <strong>Pattern Similarity Search in Genomic Sequences.</strong>
                IEEE Transactions on Knowledge and Data Engineering 2016; 28(11): 3053-3067.
                DOI: 10.1109/TKDE.2016.2595582.
                <a target="_blank" class="pdf" href="publications/BMP.pdf">pdf</a>
            </li>
            <li>
                <em>Jalili V, Matteucci M, Masseroli M, Ceri S.</em>
                <strong>Indexing Next-Generation Sequencing data</strong>
                Information Sciences Elsevier 2016.
                <a target="_blank" class="pdf" href="publications/Indexing.pdf">pdf</a>
            </li>
            <li>
                <em>Bertoni M, Ceri S, Kaitoua A, Pinoli P.</em>
                <strong>Evaluating Cloud Frameworks on Genomic Applications.</strong>
                IEEE Big Data Conference, Santa Clara, Nov. 2015.
                <a target="_blank" class="pdf" href="publications/IEEE_Conference.pdf">pdf</a>
            </li>
            <li>
                <em>Cumbo F, Fiscon G, Ceri S, Masseroli M, Weitschek E.</em>
                <strong>TCGA2BED: extracting, extending, integrating, and querying The Cancer Genome Atlas.</strong>
                BMC Bioinformatics BMC series, 2017, 18:6.
                DOI: 10.1186/s12859-016-1419-5
                <a target="_blank" class="pdf" href="publications/TCGA2BED.pdf">pdf</a>
            </li>
            <li>
                <em>Bernasconi A., Ceri S., Campi A., Masseroli M.</em>
                <strong>Conceptual Modeling for Genomics: Building an Integrated Repository of Open Data</strong>
                In: Mayr H., Guizzardi G., Ma H., Pastor O. (eds) Conceptual Modeling. ER 2017
                Lecture Notes in Computer Science, vol 10650. Springer, Cham
                DOI10.1007/978-3-319-69904-2_26
                <a target="_blank" class="pdf" href="publications/conceptual_modelling.pdf">pdf</a>
            </li>
            <li>
                <em>Jalili V, Matteucci M, Masseroli M, Ceri S.</em>
                <strong>Explorative visual analytics on interval-based genomic data and their metadata.</strong>
                BMC Bioinformatics BMC series, 2017, 18:536.
                DOI: 10.1186/s12859-017-1945-9
                <a target="_blank" class="pdf" href="publications/explorative.pdf">pdf</a>
            </li>
            <li>
                <em>Ceri S.</em>
                <strong>On the role of statistics in the era of big data: a computer science perspective.</strong>
                Statistics & Probability Letters Elsevier 2018. (In print)
                <a target="_blank" class="pdf" href="publications/Ceri-stats.pdf">pdf</a>
            </li>
        </ul>
    </section>

    <section>
        <h2 class="title">Other Publications</h2>
        <h3 class="subtitle publication-year">2017</h3>
        <ul class="publications">
            <li>
                Kaitoua A, Gulino A, Masseroli M, Pinoli P, Ceri S
                Scalable Genomic Data Management System on the Cloud.
                Int. Symp. Big Data Principles, Architectures & Applications (BDAA), July 2017; Genova.
            </li>
            <li>
                Cattani S, Ceri S, Kaitoua A, Pinoli P.
                Evaluating Big Data Genomic Applications on SciDB and Spark.
                Proc. Web Engineering Conference, June 2017; Rome.
            </li>
            <li>
                Cattani S, Ceri S, Kaitoua A, Pinoli P.
                Bi-Dimensional Binning for Big Genomic  Datasets.
                Proc. Beyond Map Reduce Workshop, co-located with ACM-Sigmod, May 2017; Boston.
            </li>
        </ul>
        <h3 class="subtitle publication-year">2016</h3>
        <ul class="publications">
            <li>
                Ceri S, Masseroli M, Weitschek E, eds.
                Genomic big data management, modeling and computing.
                Special Session at the Int. Conf. on Intelligent Systems for Molecular Biology (ISMB), July 8-12, 2016;
                Orlando, FL.
            </li>
            <li>
                Masseroli M, ed.
                Genomic big data management, modeling and computing.
                Special Session at the 13th Annual Meeting of the Bioinformatics Italian Society (BITS 2016); Jun 15-17,
                2016; Fisciano, SA.
            </li>
            <li>
                Jalili V, Matteucci M, Morelli MJ, Masseroli M.
                MuSERA: Multiple Sample Enriched Region Assessment. Briefings in Bioinformatics 2016.
                DOI: 10.1093/bib/bbw029
            </li>
            <li>
                Domeniconi G, Masseroli M, Moro G, Pinoli P.
                Cross-organism learning method to discover new gene functionalities.
                Computer Methods and Programs in Biomedicine 2016; 126:20-34.
                DOI: 10.1016/j.cmpb.2015.12.002
            </li>
            <li>
                Masseroli M, Canakoglu A, Ceri S.
                Integration and querying of genomic and proteomic semantic annotations for biomedical knowledge
                extraction.
                IEEE/ACM Transactions on Computational Biology and Bioinformatics 2016; 13(2):209-219.
                DOI: 10.1109/TCBB.2015.2453944
            </li>
            <li>
                Canakoglu A, Ceri S, Masseroli M.
                Biomolecular annotation integration and querying to help unveiling new biomedical knowledge.
                In: Ortu&ntilde;o F, Rojas I, editors. Bioinformatics and Biomedical Engineering. ISBN
                978-3-319-31743-4. Heidelberg, D: Springer; 2016. p. 802-813. LNCS (Lecture Notes in Bioinformatics; vol
                9656).
                DOI: 10.1007/978-3-319-31744-1.
            </li>
            <li>
                Ceri S, Kaitoua A, Pinoli P, Masseroli M.
                Genomic data modeling for interoperability and next generation genomic data management.
                In: Ortu&ntilde;o F, Rojas
                I, editors. Proceedings Extended Abstracts 4th International Work-Conference on Bioinformatics and
                Biomedical Engineering (IWBBIO 2016), April 20-22, 2016; Granada, SP. ISBN 978-84-16478-75-0.
                Granada, SP: Editorial Godel S.L.; 2016. p. 471-474.
            </li>
            <li>
                Ceri S, Kaitoua A, Masseroli M, Pinoli P, Venco F.
                Data management for next generation genomic computing. In: Pitoura E, Maabout S, Koutrika G, Marian A,
                Tanca L, Manolescu I, Stefanidis K, editors. Proceedings of the 19th International Conference on
                Extending Database Technology / 19th International Conference on Database Theory, EDBT/ICDT 2016 Joint
                Conference, March 15-18, 2016; Bordeaux, FR. ISBN 978-3-89318-070-7. Konstanz, DE; OpenProceedings.org;
                2016. p. 485-490.
            </li>
        </ul>
        <h3 class="subtitle publication-year">2015</h3>
        <ul class="publications">
            <li>
                Masseroli M, Canakoglu A, Ceri S.
                Integration and querying of genomic and proteomic semantic annotations for biomedical knowledge
                extraction. IEEE/ACM
                Transactions on Computational Biology and Bioinformatics 2015 (in stampa).
                DOI: 10.1109/TCBB.2015.2453944
            </li>
            <li>
                Masseroli M, Canakoglu A, Quigliatti M.
                Detection of gene annotations and protein-protein interaction associated disorders through transitive
                relationships between integrated annotations.
                BMC Genomics 2015; 16(Suppl 6):S5, p. 1-16.
            </li>
            <li>
                Jalili V, Matteucci M, Masseroli M, Morelli MJ.
                Using combined evidence from replicates to evaluate ChIP-seq peaks.
                Bioinformatics 2015; 31(17): 2761-2769.
                DOI: 10.1093/bioinformatics/btv293
            </li>
            <li>
                Pinoli P, Chicco D, Masseroli M.
                Computational algorithms to predict Gene Ontology annotations.
                BMC Bioinformatics 2015; 16(Suppl 6): S4, p. 1-15.
            </li>
            <li>
                Domeniconi G, Masseroli M, Moro G, Pinoli P.
                Random perturbations of term weighted Gene Ontology annotations for discovering gene unknown
                functionalities.
                In: Fred A, Dietz J, Aveiro D, Liu K, Filipe J, editors. Knowledge Discovery, Knowledge Engineering and
                Knowledge Management. ISBN 978-3-662-46548-6. Heidelberg, D: Springer; 2015. p. 181-197.
                Communications in Computer and Information Science; vol 553.
            </li>
            <li>
                Chicco D, Masseroli M.
                Validation procedures for predicted Gene Ontology annotations.
                In: Angelini C, Decarli A, Bongcam-Rudloff E, editors. Proceedings of the 12th International Meeting on
                Computational Intelligence Methods for Bioinformatics and Biostatistics, CIBB 2015, Sep 10-12, 2015;
                Napoli, IT. Salerno, IT: Università di Salerno; 2015. p. 1-6. Proceedings of CIBB; vol. 12.
            </li>
            <li>
                G. Domeniconi, M. Masseroli, G. Moro, P.Pinoli.
                Discovering new gene functionalities from random perturbations of known gene ontological annotations.
                In: Fred A, Filipe J, editors. Proceedings of the 6th International Conference on Knowledge Discovery
                and Information Retrieval – KDIR 2014, Oct 21-24, 2014; Roma, IT. ISBN 978-989-758-048-2. Lisbon, PT:
                SCITEPRESS – Science and Technology Publications; 2014. p. 107-116.
            </li>
            <li>
                Vaskin Y, Masseroli M, Pinoli P, Venco F, Kaitoua A, Jalili V, Palluzzi F, Muller H, Ceri S.
                GMQL Services - generic, easy-to-use infrastructure for genomic data retrieval and processing.
                In: Milanesi L, Mauri G, Masseroli M, editors. BITS 2015: 12th Annual Meeting of the Bioinformatics
                Italian Society; Jun 3-5, 2015; Milano, IT. Roma, IT: BITS; 2015. p. 255-256.
            </li>
            <li>
                Cumbo F, Fiscon G, Ceri S, Masseroli M, Weitschek E.
                The Cancer Genome Atlas data querying tool.
                In: Milanesi L, Mauri G, Masseroli M, editors. BITS 2015: 12th Annual Meeting of the Bioinformatics
                Italian Society; Jun 3-5, 2015; Milano, IT. Roma, IT: BITS; 2015. p. 120-121.
            </li>
            <li>
                Palluzzi F, Masseroli M, Pinoli P, Venco F, Kaitoua A, Jalili V, Muller H, Ceri S.
                GenoMetric Query Language applications to the integrative evaluation of heterogeneous genomic data.
                In: Milanesi L, Mauri G, Masseroli M, editors. BITS 2015: 12th Annual Meeting of the Bioinformatics
                Italian Society; Jun 3-5, 2015; Milano, IT. Roma, IT: BITS; 2015. p. 57-58.
            </li>
        </ul>
    </section>
</div>

