<div class="container gc-section">
    <section>
        <h2 class="title">Selected publications</h2>

        <h3 class="subtitle publication-year">MODEL AND LANGUAGE</h3>
        <ul class="publications">
            <!--METHODS 2016-->
            <li>
                <em>Masseroli M, Kaitoua A, Pinoli P, Ceri S.</em>
                <strong>Modeling and interoperability of heterogeneous genomic big data for integrative processing and
                    querying.</strong>
                Methods, 2016.
                DOI: 10.1016/j.ymeth.2016.09.002
                <a target="_blank" class="pdf" href="publications/METHODS-10.1016_j.ymeth.2016.09.002.pdf">pdf</a>
            </li>
            <!--BIOINF 2015-->
            <li>
                <em>Masseroli M, Pinoli P, Venco F, Kaitoua A, Jalili V, Palluzzi F, Muller H, Ceri S.</em>
                <strong>GenoMetric Query Language: A novel approach to large-scale genomic data management.</strong>
                Bioinformatics 2015; 31(12): 1881-1888.
                DOI: 10.1093/bioinformatics/btv048
                <a target="_blank" class="pdf" href="publications/Bioinformatics-2015-Masseroli-1881-8.pdf">pdf</a>
            </li>
        </ul>

        <h3 class="subtitle publication-year">FRAMEWORK AND CLOUD-BASED OPTIMIZATION</h3>
        <ul class="publications">
            <!--ICDE 2019-->
            <li>
                <em>Horlova O, Kaitoua A, Markl V, Ceri S.</em>
                <strong>Multi-Dimensional Genomic Data Management for Region-Preserving Operations</strong>
                IEEE International Conference on Data Engineering (ICDE), 2019.
                <a target="_blank" class="pdf" href="publications/multi_dimensional_icde2019.pdf">pdf</a>
            </li>
            <!--information_systems-->
            <li>
                <em>Pinoli P., Ceri S., Martinenghi D., Nanni L.</em>
                <strong> Metadata Management for Scientific Databases</strong>
                Information Systems, 2018 - Elsevier. (In print)
                <!--DOI: -->
                <!-- Do not have a DOI yet-->
                <a target="_blank" class="pdf" href="publications/information_systems.pdf">pdf</a>
            </li>
            <!--BIOINF 2018-->
            <li>
                <em>Masseroli M, Canakoglu A, Pinoli P, Kaitoua A, Gulino A, Horlova O, Nanni L, Bernasconi A, Perna S,
                    Stamoulakatou E, Ceri S.</em>
                <strong>Processing of big heterogeneous genomic datasets for tertiary analysis of Next Generation
                    Sequencing data</strong>
                Bioinformatics (Oxford, England), 2018.
                DOI: 10.1093/bioinformatics/bty688
                <a target="_blank" class="pdf" href="publications/Bioinformatics_2018.pdf">pdf</a>
            </li>
            <!--IEEE-TC 2018-->
            <li>
                <em>Gulino A, Kaitoua A, Ceri S.</em>
                <strong>Optimal Binning for Genomics</strong>
                IEEE-TC, 2018, DOI 10.1109/TC.2018.2854880
                <a target="_blank" class="pdf" href="publications/OptimalBinning.pdf">pdf</a>
            </li>
            <!--IEEE-TC 2016-->
            <li>
                <em>Kaitoua A, Pinoli P, Bertoni M, Ceri S.</em>
                <strong>Framework for Supporting Genomic Operations</strong>
                IEEE-TC, 2016, DOI 10.1109/TC.2016.2603980
                <a target="_blank" class="pdf" href="publications/Framework.pdf">pdf</a>
            </li>
            <!--IEEE-ACM 2016 (CERI)-->
            <li>
                <em>Ceri S, Kaitoua A, Masseroli M, Pinoli P, Venco F.</em>
                <strong>Data management for heterogeneous genomic datasets.</strong>
                IEEE/ACM Transactions on Computational Biology and Bioinformatics 2016.
                DOI: 10.1109/TCBB.2016.2576447
                <a target="_blank" class="pdf" href="publications/ieee_GMQL.pdf">pdf</a>
            </li>
            <!--IEEE-BIG DATA 2015-->
            <li>
                <em>Bertoni M, Ceri S, Kaitoua A, Pinoli P.</em>
                <strong>Evaluating Cloud Frameworks on Genomic Applications.</strong>
                IEEE Big Data Conference, Santa Clara, Nov. 2015.
                <a target="_blank" class="pdf" href="publications/IEEE_Conference.pdf">pdf</a>
            </li>
        </ul>

        <h3 class="subtitle publication-year">METADATA AND REPOSITORY</h3>
        <ul class="publications">
	   <!--DATABASE GenoSurf-->
            <li>
                <em>Canakoglu A., Bernasconi A., Colombo A., Masseroli M, Ceri S.</em>
                <strong>GenoSurf: Metadata driven semantic search server for integrated genomic datasets</strong>
                Database 2019; article ID baz132.
                DOI: 10.1093/database/baz132
                <a target="_blank" class="pdf" href="publications/baz132.pdf">pdf</a>
            </li>
<!--EmpER 2019-->
            <li>
                <em>Bernasconi A., Canakoglu A., Ceri S.</em>
                <strong>Exploiting Conceptual Modeling for Searching Genomic Metadata: A Quantitative and Qualitative Empirical Study</strong>
                In: Guizzardi G., Gailly F., Pitangueira Macie R.S. (eds) Advances in Conceptual Modeling. ER 2019 Workshops.
                Lecture Notes in Computer Science, vol 11787. Springer, Cham
		DOI: 10.1007/978-3-030-34146-6_8
                <a target="_blank" class="pdf" href="publications/empER2019.pdf">pdf</a>
            </li>
<!--ER 2019-->
            <li>
                <em>Bernasconi A., Canakoglu A., Ceri S.</em>
                <strong>From a Conceptual Model to a Knowledge Graph for Genomic Datasets</strong>
                In: Laender A.H.F., Pernici B., Lim E., de Oliveira J.P.M. (eds.) Conceptual Modeling. ER 2019
                Lecture Notes in Computer Science, vol 11788. Springer, Cham
		DOI: 10.1007/978-3-030-33223-5_29
                <a target="_blank" class="pdf" href="publications/ER2019.pdf">pdf</a>
            </li>
		<!--SWAT4LS 2018-->
            <li>
                <em>Bernasconi A., Canakoglu A., Colombo A., Ceri S.</em>
                <strong>Ontology-Driven Metadata Enrichment for Genomic Datasets</strong>
               In: Proceedings of the 11th International Conference on Semantic Web Applications and Tools for Life Sciences (SWAT4HCLS), CEUR Workshop Proceedings 2275, CEUR-WS.org 2018.
                <a target="_blank" class="pdf" href="publications/swat.pdf">pdf</a>
            </li>           
            <!--CIKM workshop 2018-->
            <li>
                <em>Bernasconi A.</em>
                <strong>Using Metadata for Locating Genomic Datasets on a Global Scale</strong>
               In: Proceedings of the CIKM 2018 Workshops co-located with 27th ACM International Conference on Information and Knowledge Management (CIKM 2018), Torino, Italy, October 22, 2018. 
                <a target="_blank" class="pdf" href="publications/cikm-workshop.pdf">pdf</a>
            </li>           
<!--ER 2017-->
            <li>
                <em>Bernasconi A., Ceri S., Campi A., Masseroli M.</em>
                <strong>Conceptual Modeling for Genomics: Building an Integrated Repository of Open Data</strong>
                In: Mayr H., Guizzardi G., Ma H., Pastor O. (eds) Conceptual Modeling. ER 2017
                Lecture Notes in Computer Science, vol 10650. Springer, Cham
                DOI10.1007/978-3-319-69904-2_26
                <a target="_blank" class="pdf" href="publications/conceptual_modelling.pdf">pdf</a>
            </li>
            <!--BMC 2017 (CUMBO)-->
            <li>
                <em>Cumbo F, Fiscon G, Ceri S, Masseroli M, Weitschek E.</em>
                <strong>TCGA2BED: extracting, extending, integrating, and querying The Cancer Genome Atlas.</strong>
                BMC Bioinformatics BMC series, 2017, 18:6.
                DOI: 10.1186/s12859-016-1419-5
                <a target="_blank" class="pdf" href="publications/TCGA2BED.pdf">pdf</a>
            </li>
            <!--IEEE-ACM 2016 (FERNANDEZ)-->
            <li>
                <em>Fernandez JD, Lenzerini M, Masseroli M, Venco F, Ceri S.</em>
                <strong>Ontology-based search of genomic metadata.</strong>
                IEEE/ACM Transactions on Computational Biology and Bioinformatics 2016; 13(2):233-247.
                DOI: 10.1109/TCBB.2015.2495179
                <a target="_blank" class="pdf" href="publications/ieee_Encode.pdf">pdf</a>
            </li>
        </ul>

                <h3 class="subtitle publication-year">INTERFACES AND TOOLS </h3>
        <ul class="publications">
        <!--BMCBioinf 2019-->
            <li>
                <em>Nanni L, Pinoli P, Canakoglu A, Ceri S.</em>
                <strong>PyGMQL: scalable data extraction and analysis for heterogeneous genomic datasets</strong>
                BMC Bioinformatics 20, 560 (2019) doi:10.1186/s12859-019-3159-9
                <a target="_blank" class="pdf" href="https://doi.org/10.1186/s12859-019-3159-9">pdf</a>
            </li>
            <!--CIKM 2018-->
            <li>
                <em>Ceri S, Canakoglu A, Gulino A, Kaitoua A, Masseroli M, Nanni L, Pinoli P.</em>
                <strong>Demonstration of GenoMetric Query Language</strong>
                In Proceedings of the 2018 ACM on Conference on Information and Knowledge Management, ACM.
                DOI: 10.1145/3269206.3269217
                <a target="_blank" class="pdf" href="publications/CIKM-DEMO.pdf">pdf</a>
            </li>
            <!--EXPLORE-DB 2018-->
            <li>
                <em>Nanni L, Pinoli P, Canakoglu A, Ceri S.</em>
                <strong>Exploring Genomic Datasets: from Batch to Interactive and Back.</strong>
                Proceedings of the ExploreDB'18, 2018.
                <!--DOI: 10.1145/3214708.3214710-->
                <!-- The DOI above is the correct doi but the paper is not published yet-->
                <a target="_blank" class="pdf" href="publications/ExploreDB2018.pdf">pdf</a>
            </li>
            <!--Di4TKDE (JALILI)-->
            <li>
                <em>Jalili V, Matteucci M, Goecks J, Deldjoo Y, Ceri S.</em>
                <strong>Next Generation Indexing for Genomic Intervals</strong>
                Journal of IEEE Transactions on Knowledge and Data Engineering (TKDE), 2018.
                DOI: 10.1109/TKDE.2018.2871031
                <a target="_blank" class="pdf" href="publications/Di4TKDE.pdf">pdf</a>
            </li>
            <!--BMC 2017 (JALILI)-->
            <li>
                <em>Jalili V, Matteucci M, Masseroli M, Ceri S.</em>
                <strong>Explorative visual analytics on interval-based genomic data and their metadata.</strong>
                BMC Bioinformatics BMC series, 2017, 18:536.
                DOI: 10.1186/s12859-017-1945-9
                <a target="_blank" class="pdf" href="publications/explorative.pdf">pdf</a>
            </li>
            <!--INFORMATION SCIENCES 2017-->
            <li>
                <em>Jalili V, Matteucci M, Masseroli M, Ceri S.</em>
                <strong>Indexing Next-Generation Sequencing data</strong>
                Information Sciences Elsevier 2016.
                <a target="_blank" class="pdf" href="publications/Indexing.pdf">pdf</a>
            </li>
            <!--IEEE-TKDE 2016-->
            <li>
                <em>Montanari P, Bartolini I, Ciaccia P, Patella M, Ceri S, Masseroli M.</em>
                <strong>Pattern Similarity Search in Genomic Sequences.</strong>
                IEEE Transactions on Knowledge and Data Engineering 2016; 28(11): 3053-3067.
                DOI: 10.1109/TKDE.2016.2595582.
                <a target="_blank" class="pdf" href="publications/BMP.pdf">pdf</a>
            </li>
        </ul>

        <h3 class="subtitle publication-year">GENOMIC APPLICATIONS</h3>
        <ul class="publications">

            <li>
                <em>Canakoglu A, Nanni L, Sokolovsky A, Ceri S</em>
                <strong>Designing and Evaluating Deep Learning Models for Cancer Detection on Gene Expression Data.</strong>
                Lecture Notes in Computer Science, vol 11925. Springer, Cham, 2020
                DOI: 10.1007/978-3-030-34585-3_22
                <a target="_blank" class="pdf" href="publications/Canakoglu2020_Chapter_DesigningAndEvaluatingDeepLear.pdf">pdf</a>
            </li>

            <li>
                <em>Pinoli P, Stamoulakatou E, Nguyen A, Rodriguez Martinez M, Ceri S</em>
                <strong>Pan-cancer analysis of somatic mutations and epigenetic alterations in insulated neighbourhood boundaries.</strong>
                PLOS ONE 15(1): e022718,
                DOI: 10.1371/journal.pone.0227180
                <a target="_blank" class="pdf" href="publications/journal.pone.0227180.pdf">pdf</a>
            </li>

            <li>
                <em>Ceri S, Pinoli P. </em>
                <strong>Data Science for Genomic Data Management: Challenges, Resources, Experiences</strong>
                SN Computer Science, 2020.
                DOI: 10.1007/s42979-019-0005-0
                <a target="_blank" class="pdf" href="publications/sncs_ceri_pinoli_preprint.pdf">pdf</a>
            </li>

            <li>
                <em>Ceddia G, Pinoli P, Ceri S, Masseroli M. </em>
                <strong>Non-negative Matrix Tri-Factorization for Data Integration and Network-based Drug Repositioning</strong>
                2019 IEEE Conference on Computational Intelligence in Bioinformatics and Computational Biology (CIBCB).
                DOI: 10.1109/CIBCB.2019.8791474
                <a target="_blank" class="pdf" href="publications/CIBCB_2019.pdf">pdf</a>
            </li>

            <li>
                <em>Dissez G., Ceddia G, Pinoli P, Ceri S, Masseroli M</em>
                <strong>Drug Repositioning Predictions by Non-Negative Matrix Tri-Factorization of Integrated Association Data</strong>
                2019 ACM International Conference on Bioinformatics, Computational Biology and Health Informatics (BCB2019).
                DOI: 10.1145/3307339.3342154
                <a target="_blank" class="pdf" href="publications/ACM_BCB.pdf">pdf</a>
            </li>

            <li>
                <em>Ceddia G, Martino L N, Parodi A, Secchi P, Campaner S, Masseroli M.</em>
                <strong>Association rule mining to identify transcription factor interactions in genomic regions</strong>
                Bioinformatics (Oxford, England), 2019.
                DOI: 10.1093/bioinformatics/btz687
                <a target="_blank" class="pdf" href="publications/Bioinformatics_2019.pdf">pdf</a>
            </li>

        	<li>
        		<em>Wang C, Nanni L, Novakovic B, Megchelenbrink W, Kuznetsova T, Stunnenberg H, Ceri S, Logie C</em>
        		<strong>Extensive epigenomic integration of the glucocorticoid response in primary human monocytes and in vitro derived macrophages</strong>
        		Scientific Reports, 2019,
        		DOI: 10.1038/s41598-019-39395-9
        		<a target="_blank" class="pdf" href="publications/SciRep_WongNanni.pdf">pdf</a>
        	</li>

            <li>
                <em>Cappelli E, Felici G, Weitschek E.</em>
                <strong>Combining DNA methylation and RNA sequencing data of cancer for supervised knowledge
                    extraction.</strong>
                BioData Mining, 2018, 11:22.
                DOI: 10.1186/s13040-018-0184-6
                <a target="_blank" class="pdf" href="publications/Combining_DNA_meth_RNA.pdf">pdf</a>
            </li>
            <li>
                <em>Pinoli P, Srihari S, Wong L, Ceri S.</em>
                <strong>Identifying Collateral and Synthetic Lethal Vulnerabilities within the DNA-damage
                    Response.</strong>
                Making it Personal: Cancer Precision Medicine, EACR Series, Bergamo (Italy), 5-7 November 2018.
                <a target="_blank" class="pdf" href="publications/EACR_abstract.pdf">pdf</a>
            </li>
            <li>
                <em>Canakoglu A, Nanni L, Sokolovsky A, Ceri S.</em>
                <strong>Designing and Evaluating Deep Learning Methods
                    for Cancer Classification on Gene Expression Data.</strong>
                CIBB 2018: 15th edition of the CIBB Computational Intelligence methods for Bioinformatics and
                Biostatistics international conference, Lisbon, Portugal 2018.
                <a target="_blank" class="pdf" href="publications/CIBB_2018_Deep_Learning.pdf">pdf</a>
            </li>
            <li>
                <em>Perna S, Pinoli P, Ceri S, Wong L.</em>
                <strong>TICA: Transcriptional Interaction and Coregulation Analyser</strong>
                Genomics, Proteomics and Bioinformatics (Elsevier), 2018(16):5,342-353.
                DOI: https://doi.org/10.1016/j.gpb.2018.05.004
                <a target="_blank" class="pdf" href="publications/tica_gpb.pdf">pdf</a>
            </li>
            <!--TICA 2018 (the new one in the Springer book)-->
            <li>
                <em>Perna S, Canakoglu A, Pinoli P, Ceri S, Wong L.</em>
                <strong>Implementing a Transcription Factor Interaction Prediction System Using the GenoMetric Query
                    Language.</strong>
                In Data Mining for Systems Biology, pp. 63-81. Humana Press, New York, NY, 2018.
                DOI: 10.1007/978-1-4939-8561-6_6
                <a target="_blank" class="pdf" href="publications/Tica.pdf">pdf</a>
            </li>
            <!--IJCNN 2018-->
            <li>
                <em>Frasca F, Matteucci M, Masseroli M, Morelli M.</em>
                <strong>Modeling gene transcriptional regulation by means of hyperplanes genetic clustering.</strong>
                In: Ludermir TB, editor. The 2018 IEEE International Joint Conference on Neural Networks (IJCNN), Jul
                8-13, 2018; Rio de Janeiro, Brasile. Piscataway, NJ: IEEE; 2018. p. 5628-5635.
                DOI: 10.1007/978-3-319-78723-7_23
                <a target="_blank" class="pdf" href="publications/ModelingGene.pdf">pdf</a>
            </li>
            <!--CHAM 2018-->
            <li>
                <em>Golcuk, G, Tuncel, MA, Canakoglu, A.</em>
                <strong>Exploiting Ladder Networks for Gene Expression Classification.</strong>
                In International Conference on Bioinformatics and Biomedical Engineering, Springer, Cham, 270:8.
                DOI: 10.1007/978-3-319-78723-7_23
                <a target="_blank" class="pdf" href="publications/LadderNetwork.pdf">pdf</a>
            </li>
        </ul>
    </section>

    <section>
        <h2 class="title">Other Publications</h2>
        <h3 class="subtitle publication-year">2018</h3>
        <ul class="publications">
            <li>
                Ceri S.
                On the role of statistics in the era of big data: a computer science perspective.
                Statistics & Probability Letters Elsevier 2018.
                <!--<a target="_blank" class="pdf" href="publications/Ceri-stats.pdf">pdf</a>-->
            </li>
            <li>
                Ceri S, Bernasconi A, Canakoglu A, Gulino A, Kaitoua A, Masseroli M, Nanni L, Pinoli P.
                Overview of GeCo: A Project for Exploring and Integrating Signals from the Genome.
                Selected Papers of the XIX International Conference on Data Analytics
                and Management in Data Intensive Domains (DAMDID/RCDL) 2017.
            </li>
            <li>
                Ceri S, Canakoglu A, Kaitoua A, Masseroli M,Pinoli P.
                Experiences in the Development of a Data Management System for Genomics.
                International Conference on Data Management Technologies and Application 2017.
            </li>
        </ul>
        <h3 class="subtitle publication-year">2017</h3>
        <ul class="publications">
            <li>
                Kaitoua A, Gulino A, Masseroli M, Pinoli P, Ceri S.
                Scalable Genomic Data Management System on the Cloud.
                Int. Symp. Big Data Principles, Architectures & Applications (BDAA), July 2017; Genova.
            </li>
            <li>
                Cattani S, Ceri S, Kaitoua A, Pinoli P.
                Evaluating Big Data Genomic Applications on SciDB and Spark.
                Proc. Web Engineering Conference, June 2017; Rome.
            </li>
            <li>
                Cattani S, Ceri S, Kaitoua A, Pinoli P.
                Bi-Dimensional Binning for Big Genomic  Datasets.
                Proc. Beyond Map Reduce Workshop, co-located with ACM-Sigmod, May 2017; Boston.
            </li>
        </ul>
        <h3 class="subtitle publication-year">2016</h3>
        <ul class="publications">
            <li>
                Ceri S, Masseroli M, Weitschek E, eds.
                Genomic big data management, modeling and computing.
                Special Session at the Int. Conf. on Intelligent Systems for Molecular Biology (ISMB), July 8-12, 2016;
                Orlando, FL.
            </li>
            <li>
                Masseroli M, ed.
                Genomic big data management, modeling and computing.
                Special Session at the 13th Annual Meeting of the Bioinformatics Italian Society (BITS 2016); Jun 15-17,
                2016; Fisciano, SA.
            </li>
            <li>
                Jalili V, Matteucci M, Morelli MJ, Masseroli M.
                MuSERA: Multiple Sample Enriched Region Assessment. Briefings in Bioinformatics 2016.
                DOI: 10.1093/bib/bbw029
            </li>
            <li>
                Domeniconi G, Masseroli M, Moro G, Pinoli P.
                Cross-organism learning method to discover new gene functionalities.
                Computer Methods and Programs in Biomedicine 2016; 126:20-34.
                DOI: 10.1016/j.cmpb.2015.12.002
            </li>
            <li>
                Masseroli M, Canakoglu A, Ceri S.
                Integration and querying of genomic and proteomic semantic annotations for biomedical knowledge
                extraction.
                IEEE/ACM Transactions on Computational Biology and Bioinformatics 2016; 13(2):209-219.
                DOI: 10.1109/TCBB.2015.2453944
            </li>
            <li>
                Canakoglu A, Ceri S, Masseroli M.
                Biomolecular annotation integration and querying to help unveiling new biomedical knowledge.
                In: Ortu&ntilde;o F, Rojas I, editors. Bioinformatics and Biomedical Engineering. ISBN
                978-3-319-31743-4. Heidelberg, D: Springer; 2016. p. 802-813. LNCS (Lecture Notes in Bioinformatics; vol
                9656).
                DOI: 10.1007/978-3-319-31744-1.
            </li>
            <li>
                Ceri S, Kaitoua A, Pinoli P, Masseroli M.
                Genomic data modeling for interoperability and next generation genomic data management.
                In: Ortu&ntilde;o F, Rojas
                I, editors. Proceedings Extended Abstracts 4th International Work-Conference on Bioinformatics and
                Biomedical Engineering (IWBBIO 2016), April 20-22, 2016; Granada, SP. ISBN 978-84-16478-75-0.
                Granada, SP: Editorial Godel S.L.; 2016. p. 471-474.
            </li>
            <li>
                Ceri S, Kaitoua A, Masseroli M, Pinoli P, Venco F.
                Data management for next generation genomic computing. In: Pitoura E, Maabout S, Koutrika G, Marian A,
                Tanca L, Manolescu I, Stefanidis K, editors. Proceedings of the 19th International Conference on
                Extending Database Technology / 19th International Conference on Database Theory, EDBT/ICDT 2016 Joint
                Conference, March 15-18, 2016; Bordeaux, FR. ISBN 978-3-89318-070-7. Konstanz, DE; OpenProceedings.org;
                2016. p. 485-490.
            </li>
        </ul>
        <h3 class="subtitle publication-year">2015</h3>
        <ul class="publications">
            <li>
                Masseroli M, Canakoglu A, Ceri S.
                Integration and querying of genomic and proteomic semantic annotations for biomedical knowledge
                extraction. IEEE/ACM
                Transactions on Computational Biology and Bioinformatics 2015 (in stampa).
                DOI: 10.1109/TCBB.2015.2453944
            </li>
            <li>
                Masseroli M, Canakoglu A, Quigliatti M.
                Detection of gene annotations and protein-protein interaction associated disorders through transitive
                relationships between integrated annotations.
                BMC Genomics 2015; 16(Suppl 6):S5, p. 1-16.
            </li>
            <li>
                Jalili V, Matteucci M, Masseroli M, Morelli MJ.
                Using combined evidence from replicates to evaluate ChIP-seq peaks.
                Bioinformatics 2015; 31(17): 2761-2769.
                DOI: 10.1093/bioinformatics/btv293
            </li>
            <li>
                Pinoli P, Chicco D, Masseroli M.
                Computational algorithms to predict Gene Ontology annotations.
                BMC Bioinformatics 2015; 16(Suppl 6): S4, p. 1-15.
            </li>
            <li>
                Domeniconi G, Masseroli M, Moro G, Pinoli P.
                Random perturbations of term weighted Gene Ontology annotations for discovering gene unknown
                functionalities.
                In: Fred A, Dietz J, Aveiro D, Liu K, Filipe J, editors. Knowledge Discovery, Knowledge Engineering and
                Knowledge Management. ISBN 978-3-662-46548-6. Heidelberg, D: Springer; 2015. p. 181-197.
                Communications in Computer and Information Science; vol 553.
            </li>
            <li>
                Chicco D, Masseroli M.
                Validation procedures for predicted Gene Ontology annotations.
                In: Angelini C, Decarli A, Bongcam-Rudloff E, editors. Proceedings of the 12th International Meeting on
                Computational Intelligence Methods for Bioinformatics and Biostatistics, CIBB 2015, Sep 10-12, 2015;
                Napoli, IT. Salerno, IT: Università di Salerno; 2015. p. 1-6. Proceedings of CIBB; vol. 12.
            </li>
            <li>
                G. Domeniconi, M. Masseroli, G. Moro, P.Pinoli.
                Discovering new gene functionalities from random perturbations of known gene ontological annotations.
                In: Fred A, Filipe J, editors. Proceedings of the 6th International Conference on Knowledge Discovery
                and Information Retrieval – KDIR 2014, Oct 21-24, 2014; Roma, IT. ISBN 978-989-758-048-2. Lisbon, PT:
                SCITEPRESS – Science and Technology Publications; 2014. p. 107-116.
            </li>
            <li>
                Vaskin Y, Masseroli M, Pinoli P, Venco F, Kaitoua A, Jalili V, Palluzzi F, Muller H, Ceri S.
                GMQL Services - generic, easy-to-use infrastructure for genomic data retrieval and processing.
                In: Milanesi L, Mauri G, Masseroli M, editors. BITS 2015: 12th Annual Meeting of the Bioinformatics
                Italian Society; Jun 3-5, 2015; Milano, IT. Roma, IT: BITS; 2015. p. 255-256.
            </li>
            <li>
                Cumbo F, Fiscon G, Ceri S, Masseroli M, Weitschek E.
                The Cancer Genome Atlas data querying tool.
                In: Milanesi L, Mauri G, Masseroli M, editors. BITS 2015: 12th Annual Meeting of the Bioinformatics
                Italian Society; Jun 3-5, 2015; Milano, IT. Roma, IT: BITS; 2015. p. 120-121.
            </li>
            <li>
                Palluzzi F, Masseroli M, Pinoli P, Venco F, Kaitoua A, Jalili V, Muller H, Ceri S.
                GenoMetric Query Language applications to the integrative evaluation of heterogeneous genomic data.
                In: Milanesi L, Mauri G, Masseroli M, editors. BITS 2015: 12th Annual Meeting of the Bioinformatics
                Italian Society; Jun 3-5, 2015; Milano, IT. Roma, IT: BITS; 2015. p. 57-58.
            </li>
        </ul>
    </section>
</div>

