<!-- Team photo -->
<div class="container-fluid gc-section gc-full gc-darker gc-image" style="background-image: url('http://placehold.it/1920x400?text=Team+photo'); min-height: 27rem"></div>

<!-- Team -->
<div class="container gc-section text-xs-center">
  <section>
    <h3>Team</h3>
    <div class="row">
      <div class="col-xs-6 col-md-offset-3 col-md-3">
        
        <!-- Stefano Ceri -->
        <div class="team team-lead">
          <p class="name">Stefano Ceri</p>
          <p class="text-muted hidden-sm-down">Professor</p>
          <img class="img-circle img-fluid" src="imgs/team/stefano-ceri.png" alt="Stefano Ceri">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-6 col-md-3">
        
        <!-- Marco Masseroli -->
        <div class="team team-lead">
          <p class="name">Marco Masseroli</p>
          <p class="text-muted hidden-sm-down">Researcher and Lecturer</p>
          <img class="img-circle img-fluid" src="imgs/team/marco-masseroli.png" alt="Marco Masseroli">
          <p class="hidden-sm-down">Politecnico di Milano</p>
        </div>
        
      </div>
        
    </div>
    
    
    <div class="row">
      <div class="col-xs-4 col-md-3">
        
        <!-- Vahid Jalili -->
        <div class="team">
          <p class="name hidden-xs-down">Vahid Jalili</p>
          <p class="text-muted hidden-sm-down">Completed PhD cum Laude in 2015</p>
          <img class="img-circle img-fluid" src="imgs/team/vahid-jalili.png" alt="Vahid Jalili">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-4 col-md-3">
        
        <!-- Abdulrahman Kaitoua -->
        <div class="team">
          <p class="name hidden-xs-down">Abdulrahman Kaitoua</p>
          <p class="text-muted hidden-sm-down">PhD Student</p>
          <img class="img-circle img-fluid" src="imgs/team/abdulrahman-kaitoua.png" alt="Abdulrahman Kaitoua">
          <p class="hidden-sm-down">Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-4 col-md-3">
        
        <!-- Fernando Paluzzi -->
        <div class="team">
          <p class="name hidden-xs-down">Fernando Paluzzi</p>
          <p class="text-muted hidden-sm-down">Will complete PhD at IEO</p>
          <img class="img-circle img-fluid" src="imgs/team/fernando-paluzzi.png" alt="Fernando Paluzzi">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      
      
      <div class="clearfix hidden-md-up"></div>
      
      
      <div class="col-xs-4 col-md-3">
        
        <!-- Pietro Pinoli -->
        <div class="team">
          <p class="name hidden-xs-down">Pietro Pinoli</p>
          <p class="text-muted hidden-sm-down">PhD Student</p>
          <img class="img-circle img-fluid" src="imgs/team/pietro-pinoli.png" alt="Pietro Pinoli">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-4 col-md-3">
        
        <!-- Yuriy Vaskin -->
        <div class="team">
          <p class="name hidden-xs-down">Yuriy Vaskin</p>
          <p class="text-muted hidden-sm-down">Will complete PhD</p>
          <img class="img-circle img-fluid" src="imgs/team/yuriy-vaskin.png" alt="Yuriy Vaskin">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-4 col-md-3">
        
        <!-- Francesco Venco -->
        <div class="team">
          <p class="name hidden-xs-down">Francesco Venco</p>
          <p class="text-muted hidden-sm-down">Completed PhD cum Laude in 2015</p>
          <img class="img-circle img-fluid" src="imgs/team/francesco-venco.png" alt="Francesco Venco">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-4 col-md-3">
        
        <!-- Ilaria Raciti -->
        <div class="team">
          <p class="name hidden-xs-down">Ilaria Raciti</p>
          <p class="text-muted hidden-sm-down">PhD Student</p>
          <img class="img-circle img-fluid" src="imgs/team/ilaria-raciti.png" alt="Ilaria Raciti">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-4 col-md-3">
        
        <!-- Simone Cattani -->
        <div class="team">
          <p class="name hidden-xs-down">Simone Cattani</p>
          <p class="text-muted hidden-sm-down">PhD Student</p>
          <img class="img-circle img-fluid" src="imgs/team/simone-cattani.png" alt="Simone Cattani">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-4 col-md-3">
        
        <!-- Anna Bernasconi -->
        <div class="team">
          <p class="name hidden-xs-down">Anna Bernasconi</p>
          <p class="text-muted hidden-sm-down">PhD Student</p>
          <img class="img-circle img-fluid" src="imgs/team/anna-bernasconi.png" alt="Anna Bernasconi">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-4 col-md-3">
        
        <!-- Rosario Cazzetta -->
        <div class="team">
          <p class="name hidden-xs-down">Rosario Cazzetta</p>
          <p class="text-muted hidden-sm-down">PhD Student</p>
          <img class="img-circle img-fluid" src="imgs/team/rosario-cazzetta.png" alt="Rosario Cazzetta">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>

    </div>
  </section>
  
  
  <hr class="m-y-2">
  <section style="margin-bottom: 2rem;">
    <h5>Collaborators</h5>
    <div class="row">
      
      <div class="col-xs-3">
        
        <!-- Gianpaolo Cugola -->
        <div class="team">
          <p class="name hidden-xs-down">Gianpaolo Cugola</p>
          <p class="text-muted hidden-sm-down">Professor</p>
          <img class="img-circle img-fluid" src="imgs/team/gianpaolo-cugola.png" alt="Gianpaolo Cugola">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-3">
        
        <!-- Matteo Matteucci -->
        <div class="team">
          <p class="name hidden-xs-down">Matteo Matteucci</p>
          <p class="text-muted hidden-sm-down">Professor</p>
          <img class="img-circle img-fluid" src="imgs/team/matteo-matteucci.png" alt="Matteo Matteucci">
          <p class="hidden-sm-down">Politecnico di Milano</p>
        </div>
        
      </div>
      <div class="col-xs-3">
        
        <!-- Heiko Muller -->
        <div class="team">
          <p class="name hidden-xs-down">Heiko Muller</p>
          <p class="text-muted hidden-sm-down">Senior Researcher</p>
          <img class="img-circle img-fluid" src="imgs/team/heiko-muller.png" alt="Heiko Muller">
          <p class="hidden-sm-down">IIT@SEMM</p>
        </div>
        
      </div>
      <div class="col-xs-3">
        
        <!-- Chiara Leonardi -->
        <div class="team">
          <p class="name hidden-xs-down">Chiara Leonardi</p>
          <p class="text-muted hidden-sm-down">Research Fellow</p>
          <img class="img-circle img-fluid" src="imgs/team/chiara-leonardi.png" alt="Chiara Leonardi">
          <p class="hidden-sm-down">DEIB, Politecnico di Milano</p>
        </div>
        
      </div>
      
    </div>
  </section>
</div>