<!-- Team photo -->
<div class="container-fluid gc-section gc-full gc-darker gc-image" style="background-image: url('imgs/team.png'); background-size: contain; min-height: 27rem"></div>

<!-- Team -->
<div class="container gc-section text-xs-center">
  <section>
    <h3 class="title m-b-3">Team</h3>

    <div class="team-leaders">

      <!-- Stefano Ceri -->
      <a class="team" href="http://dbgroup.como.polimi.it/ceri/" target="_blank">
        <img class="img-circle img-fluid" src="imgs/team/stefano-ceri.png" alt="Stefano Ceri">
        <p class="name">Stefano Ceri</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Professor, PI</p>
      </a>

      <!-- Marco Masseroli -->
      <a class="team" href="http://www.deib.polimi.it/eng/people/details/266220" target="_blank">
        <img class="img-circle img-fluid" src="imgs/team/marco-masseroli.png" alt="Marco Masseroli">
        <p class="name">Marco Masseroli</p>
        <p class="structure text-muted hidden-sm-down">Politecnico di Milano</p>
        <p class="role hidden-sm-down">Professor</p>
      </a>
    </div>

    <!-- Postdoctoral Researchers -->
    <h3 class="m-b-3">Postdoctoral Researchers</h3>
    <div class="team-members">
      <!-- Arif Canakoglu -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/arif-canakoglu.png" alt="Arif Canakoglu">
        <p class="name hidden-xs-down">Arif Canakoglu</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Postdoctoral Researcher</p>
      </div>

      <!-- Abdulrahman Kaitoua -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/abdulrahman-kaitoua.png" alt="Abdulrahman Kaitoua">
        <p class="name hidden-xs-down">Abdulrahman Kaitoua</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Postdoctoral Researcher</p>
      </div>

      <!-- Pietro Pinoli -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/pietro-pinoli.png" alt="Pietro Pinoli">
        <p class="name hidden-xs-down">Pietro Pinoli</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Postdoctoral Researcher</p>
      </div>

    </div>
    <!-- PhD Students -->
    <h3 class="m-b-3">PhD Students</h3>
    <div class="team-members">

      <!-- Anna Bernasconi -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/anna-bernasconi.png" alt="Anna Bernasconi">
        <p class="name hidden-xs-down">Anna Bernasconi</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">PhD Student</p>
      </div>

      <!-- Gaia Ceddia -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/gaia-ceddia.jpg" alt="Gaia Ceddia">
        <p class="name hidden-xs-down">Gaia Ceddia</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">PhD Student</p>
      </div>

      <!-- Andrea Gulino -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/andrea-gulino.png" alt="Andrea Gulino">
        <p class="name hidden-xs-down">Andrea Gulino</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">PhD Student</p>
      </div>

      <!-- Olha Horlova -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/user.png" alt="Olha Horlova">
        <p class="name hidden-xs-down">Olha Horlova</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">PhD Student</p>
      </div>

      <!-- Michele Leone -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/michele-leone.jpeg" alt="Michele Leone">
        <p class="name hidden-xs-down">Michele Leone</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">PhD Student</p>
      </div>

      <!-- Luca Nanni -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/luca-nanni.png" alt="Jorge Ignacio Vera Pena">
        <p class="name hidden-xs-down">Luca Nanni</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">PhD Student</p>
      </div>

      <!-- Stefano Perna -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/stefano-perna.png" alt="Ilaria Raciti">
        <p class="name hidden-xs-down">Stefano Perna</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">PhD Student</p>
      </div>

      <!-- Eirini Stamoulakatou -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/eirini-stamoulakatou.png" alt="Eirini Stamoulakatou">
        <p class="name hidden-xs-down">Eirini Stamoulakatou</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">PhD Student</p>
      </div>

      <!-- Yuriy Vaskin -->
      <!--<div class="team">
        <img class="img-circle img-fluid" src="imgs/team/yuriy-vaskin.png" alt="Yuriy Vaskin">
        <p class="name hidden-xs-down">Yuriy Vaskin</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Will complete PhD at Novosibirsk State University</p>
      </div>-->
    </div>
    <!-- PhD Graduate -->
    <h3 class="m-b-3">PhD Graduate</h3>
    <div class="team-members">
      <!-- Vahid Jalili -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/vahid-jalili.png" alt="Vahid Jalili">
        <p class="name hidden-xs-down">Vahid Jalili</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">PhD Graduate, 2016</p>
      </div>

      <!-- Francesco Venco -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/francesco-venco.png" alt="Francesco Venco">
        <p class="name hidden-xs-down">Francesco Venco</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">PhD Graduate, 2015</p>
      </div>

    </div>
    <!-- Master Student -->
    <h3 class="m-b-3">Master Student</h3>
    <div class="team-members">

      <!-- Luana Brancato -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/user.png" alt="Luana Brancato">
        <p class="name hidden-xs-down">Luana Brancato</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Student</p>
      </div>

      <!-- Ilaria Buonagurio -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/ilaria-buonagurio.png" alt="Ilaria Buonagurio">
        <p class="name hidden-xs-down">Ilaria Buonagurio</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Student</p>
      </div>

      <!-- Federico Gatti -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/user.png" alt="Federico Gatti">
        <p class="name hidden-xs-down">Federico Gatti</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Student</p>
      </div>

      <!-- Guray Golcuk -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/user.png" alt="Guray Golcuk">
        <p class="name hidden-xs-down">Guray Golcuk</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Student</p>
      </div>

      <!-- Simone Pallotta -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/user.png" alt="Simone Pallotta">
        <p class="name hidden-xs-down">Simone Pallotta</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Student</p>
      </div>

      <!-- Ilaria Raciti -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/ilaria-raciti.png" alt="Ilaria Raciti">
        <p class="name hidden-xs-down">Ilaria Raciti</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Student</p>
      </div>


      <!-- Mustafa Anil Tuncel -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/mustafa-anil-tuncel.png" alt="Mustafa Anil Tuncel">
        <p class="name hidden-xs-down">Mustafa Anil Tuncel</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Student</p>
      </div>

      <!-- Rosario Cazzetta
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/rosario-cazzetta.png" alt="Rosario Cazzetta">
        <p class="name hidden-xs-down">Rosario Cazzetta</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Student</p>
      </div>
      -->

      <!-- Niccolo Consolazio
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/niccolo-consolazio.png" alt="Niccolo Consolazio">
        <p class="name hidden-xs-down">Niccolo Consolazio</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Bachelor Student</p>
      </div> -->

    </div>
    <!-- Master Graduate -->
    <h3 class="m-b-3">Master Graduate</h3>
    <div class="team-members">

      <!-- Michele Bertoni -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/michele-bertoni.png" alt="Michele Bertoni">
        <p class="name hidden-xs-down">Michele Bertoni</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Graduate</p>
      </div>

      <!-- Simone Cattani -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/simone-cattani.png" alt="Simone Cattani">
        <p class="name hidden-xs-down">Simone Cattani</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Graduate</p>
      </div>

      <!-- Jorge Ignacio Vera Pena -->
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/jorge-ignacio-vera-pena.png" alt="Jorge Ignacio Vera Pena">
        <p class="name hidden-xs-down">Jorge Ignacio Vera Pena</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Master Graduate</p>
      </div>


    </div>
  </section>


  <hr class="m-y-2">

  <section class="m-b-2">
    <h3 class="m-b-3">Collaborators</h3>
    <div class="team-collaborators">

      <!-- Daniele Braga -->
      <a class="team" href="http://www.deib.polimi.it/ita/personale/details/107704" target="_blank">
        <img class="img-circle img-fluid" src="imgs/team/daniele-braga.png" alt="Daniele Braga">
        <p class="name hidden-xs-down">Daniele Braga</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Professor</p>
      </a>

      <!-- Davide Martinenghi -->
      <a class="team" href="http://home.deib.polimi.it/martinen/" target="_blank">
        <img class="img-circle img-fluid" src="imgs/team/davide-martinenghi.png" alt="Davide Martinenghi">
        <p class="name hidden-xs-down">Davide Martinenghi</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Professor</p>
      </a>


      <!-- Alessandro Campi -->
      <a class="team" href="http://www.deib.polimi.it/ita/personale/details/120306" target="_blank">
        <img class="img-circle img-fluid" src="imgs/team/alessandro-campi.png" alt="Alessandro Campi">
        <p class="name hidden-xs-down">Alessandro Campi</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Professor</p>
      </a>

      <!-- Gianpaolo Cugola -->
      <a class="team" href="http://home.deib.polimi.it/cugola/" target="_blank">
        <img class="img-circle img-fluid" src="imgs/team/gianpaolo-cugola.png" alt="Gianpaolo Cugola">
        <p class="name hidden-xs-down">Gianpaolo Cugola</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Professor</p>
      </a>

      <!-- Matteo Matteucci -->
      <a class="team" href="http://home.deib.polimi.it/matteucc/" target="_blank">
        <img class="img-circle img-fluid" src="imgs/team/matteo-matteucci.png" alt="Matteo Matteucci">
        <p class="name hidden-xs-down">Matteo Matteucci</p>
        <p class="structure text-muted hidden-sm-down">Politecnico di Milano</p>
        <p class="role hidden-sm-down">Professor</p>
      </a>

      <!-- Heiko Muller -->
      <a class="team" href="http://genomics.iit.it/people/heiko-muller.html" target="_blank">
        <img class="img-circle img-fluid" src="imgs/team/heiko-muller.png" alt="Heiko Muller">
        <p class="name hidden-xs-down">Heiko Muller</p>
        <p class="structure text-muted hidden-sm-down">IIT@SEMM</p>
        <p class="role hidden-sm-down">Senior Researcher</p>
      </a>

      <!-- Chiara Leonardi
      <div class="team">
        <img class="img-circle img-fluid" src="imgs/team/chiara-leonardi.png" alt="Chiara Leonardi">
        <p class="name hidden-xs-down">Chiara Leonardi</p>
        <p class="structure text-muted hidden-sm-down">DEIB, Politecnico di Milano</p>
        <p class="role hidden-sm-down">Graphic Designer</p>
      </div>
        -->

    </div>
  </section>
</div>