<!-- GDM -->
<!--<div class="container-fluid gc-section gc-image" style="background-image: url('imgs/gdm_bg.jpg'); min-height: 15rem;">-->
<!--<div class="container">-->
<!--<section>-->
<!--<h3 class="title">Try GMQL</h3>-->
<!--&lt;!&ndash;<h4 class="subtitle">Our Genomic Data model (GDM) provides abstractions for DNA regions and for metadata.</h4>&ndash;&gt;-->
<!--</section>-->
<!--</div>-->
<!--</div>-->
<div class="container gc-section">

    <section>
        <h3 class="title">TRY GMQL</h3>
        <div class="row m-t-3">
            <div class="col-md-3">
                <a target="_blank" href="http://gmql.eu/" class="btn btn-secondary">WEB
                    Interface</a>
                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>Web interface for browsing datasets and building GMQL queries
                        </li>
                        <li>Processed data from ENCODE, Roadmap Epigenomic and TCGA public sources
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <a target="_blank" href="http://gmql.eu//gmql-rest/swagger" class="btn btn-secondary">
                    REST APIs
                </a>

                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>REST APIs for programmatic access to GMQL repository and query execution engines</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <a target="_blank" href="https://github.com/DEIB-GECO" class="btn btn-secondary">
                    GitHub Site
                </a>

                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>GeCo group GitHub repository
                        (contains all the open source files of the GeCo project)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <a target="_blank" href="https://github.com/DEIB-GECO/GMQL_Package/" class="btn btn-secondary">
                    Downloads
                </a>

                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>Local mode or MapReduce mode (over Hadoop, or Hadoop YARN) for GNU/Linux systems</li>
                        <li>Quick start - Install GMQL and get started</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <a target="_blank" class="btn btn-secondary">
                    Documentation
                </a>

                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">

                        <li>Introduction to the language
                            <a target="_blank" class="pdf"  href="http://www.bioinformatics.deib.polimi.it/genomic_computing/GMQLsystem/doc/GMQL_introduction_to_the_language.pdf">pdf</a></li>
                        <li>Example queries
                            <a target="_blank" class="pdf"  href="http://www.bioinformatics.deib.polimi.it/genomic_computing/GMQLsystem/doc/GMQL_example_queries.pdf">pdf</a></li>
                        <li>Biological examples
                            <a target="_blank" class="pdf"  href="http://www.bioinformatics.deib.polimi.it/genomic_computing/GMQLsystem/doc/GMQL_biological_examples.pdf">pdf</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <a href="http://pypi.python.org/pypi/gmql" target="_blank" class="btn btn-secondary">
                    PyGMQL
                </a>

                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">

                        <li>GMQL operations in Python</li>
                        <li>Pandas interface</li>
                        <!--<li>Documentation-->
                            <!--<a target="_blank" href="">link</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <a target="_blank" href="https://bioconductor.org/packages/release/bioc/html/RGMQL.html" class="btn btn-secondary">
                    RGMQL
                </a>

                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">

                        <li>GMQL operations in R</li>
                        <li>Bioconductor interface</li>
                        <!--<li>Documentation-->
                        <!--<a target="_blank" href="">link</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <a target="_blank" class="btn btn-secondary">
                    Galaxy Interface <br> (available soon)
                </a>

                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>GMQL operations in Galaxy platform</li>
                        <!--<li>Documentation-->
                        <!--<a target="_blank" href="">link</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
