<div class="container gc-section">

    <section>
        <h3 class="title">TRY OUR SEARCH SYSTEMS UPON VIRAL DATABASES</h3>
        <div class="row m-t-4">
           <!-- <p>You can find a description of our project at: <a href="http://localhost:12347/?virus">link</a></p>-->


            <div class="col-md-4">
                <a target="_blank" href="http://gmql.eu/virusurf" class="btn btn-secondary">ViruSurf</a>
                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>Web interface for browsing an integrated database to investigate viral sequences.
                        </li>
                        <li>Processed data from <a target="_blank" href="https://www.ncbi.nlm.nih.gov/genbank/">GenBank</a> and
                            <a target="_blank" href="https://www.cogconsortium.uk/data/">COG-UK</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <a target="_blank" href="http://gmql.eu/virusurf_gisaid" class="btn btn-secondary">ViruSurf GISAID</a>
                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>Web interface for browsing an integrated database to investigate viral sequences
                            from GISAID
                        </li>
                        <li>Processed data from <a target="_blank" href="https://www.gisaid.org/">GISAID</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <a target="_blank" href="http://gmql.eu/virusviz" class="btn btn-secondary">VirusViz</a>
                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>Web tool for analyzing viral sequences and visualizing their variants and characteristics.
                        </li>
                        <li>Visualize data from
                            <a target="_blank" href="http://gmql.eu/virusurf">ViruSurf</a> and
                            <a target="_blank" href="http://gmql.eu/episurf">EpiSurf</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <a target="_blank" href="http://gmql.eu/episurf" class="btn btn-secondary">EpiSurf</a>
                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>Web interface for browsing an integrated database to investigate epitopes
                            and viral sequences.
                        </li>
                        <li>Processed data from
                            <a target="_blank" href="https://www.iedb.org">IEDB</a>,
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/genbank/">GenBank</a> and
                            <a target="_blank" href="https://www.cogconsortium.uk/data/">COG-UK</a>
                        </li>
                    </ul>
                </div>
            </div>




            <div class="col-md-4">
                <a target="_blank" href="http://gmql.eu/episurf_gisaid" class="btn btn-secondary">EpiSurf GISAID</a>
                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>Web interface for browsing an integrated database to investigate epitopes
                            and viral sequences from GISAID
                        </li>
                        <li>Processed data from
                            <a target="_blank" href="https://www.iedb.org">IEDB</a> and
                            <a target="_blank" href="https://www.gisaid.org/">GISAID</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <a target="_blank" href="http://gmql.eu/viruclust_gisaid" class="btn btn-secondary">ViruClust GISAID</a>
                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li>Web tool for comparison of SARS-CoV-2 genomes and genetic variants in space and time.
                        </li>
                        <li>Processed data from
                            <a target="_blank" href="https://www.gisaid.org/">GISAID</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <a target="_blank" class="btn btn-secondary">
                    GitHub
                </a>

                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">
                        <li><a target="_blank" href="https://github.com/DEIB-GECO/">GeCo group GitHub
                            repository (all the open source files of the GeCo project)</a></li>
                        <li><a target="_blank" href="https://github.com/DEIB-GECO/vue-metadata/tree/virus">Front-end
                            project</a></li>
                        <li><a target="_blank" href="https://github.com/DEIB-GECO/flask-metadata/tree/virus">Back-end
                            project</a></li>
                        <li><a target="_blank" href="https://github.com/DEIB-GECO/EpiSurf/">EpiSurf dedicated project</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <a target="_blank" class="btn btn-secondary">
                    Documentation
                </a>

                <div class="text m-t-2" style="font-size: 0.8rem">
                    <span class="font-weight-bold" style="font-size: 1rem;">Includes</span>:
                    <ul class="p-l-0">

                        <li><a target="_blank" href="https://github.com/DEIB-GECO/vue-metadata/wiki">ViruSurf wiki
                            documentation</a></li>
                        <li><a target="_blank" class="video" href="https://www.youtube.com/watch?v=ljo4WWZ1rU0&list=PLfWxoOMC6swIkqfLc3G4H-hW_pdmI1jFF">ViruSurf video tutorials</a></li>

                        <li><a target="_blank" href="https://github.com/DEIB-GECO/EpiSurf/wiki">EpiSurf wiki
                            documentation</a></li>
                        <li><a target="_blank" href="https://github.com/DEIB-GECO/VirusViz/wiki">VirusViz wiki
                            documentation</a></li>
                        <!--                        <li><a target="_blank" class="video" href="https://www.youtube.com/watch?v=cjH0oXu3iyo&list=PLfWxoOMC6swIJ2Fzd9qQR-PVYfaP3C501">Video tutorials</a></li>-->
                        <!--                        <li><a target="_blank"  href="http://geco.deib.polimi.it/surveys/index.php/1/">Questionnaire</a></li>-->

                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>
