<b>Suggestion:</b> You may want to watch videos at reduced speed by using the “Settings” icon at the bottom of the videos.
<!--video-->
<div class="container-fluid gc-section">
    <div class="container">
        <h3>Biological example showing GMQL in action</h3>

        <section class="m-t-0">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLfWxoOMC6swJS4MeMZKRuuakI054Jcad_" allowfullscreen></iframe>
            </div>
        </section>
    </div>

</div>

<!--video-->
<div class="container-fluid gc-section">
    <div class="container">
        <h3>Biological Example in Python</h3>
        <section class="m-t-0">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/__WhyqnDxw0?rel=0" allowfullscreen></iframe>
            </div>
        </section>
    </div>
</div>


<!--video FEDERATED-->
<div class="container-fluid gc-section">
    <div class="container">
        <h3>Federated GMQL</h3>

        <section class="m-t-0">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qmWJvoEqJH4" allowfullscreen></iframe>
            </div>
        </section>
    </div>

</div>

<!--video GenoSurf-->
<div class="container-fluid gc-section">
    <div class="container">
        <h3>GenoSurf</h3>

        <section class="m-t-0">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bZWhXXykQHs" allowfullscreen></iframe>
            </div>
        </section>
    </div>
</div>

