
<!--video-->
<div class="container-fluid gc-section">
 <div class="container">
  <h3>Workshops and presentation events</h3>


  <p>
<strong><a target="_blank" href="views/workshop.htm">Challenges in Data-Driven Genomic Computing</a> - Workshop in Como, Villa del Grumello – March 6-8 2019</strong>
<p> 
 <strong><a target="_blank" href="views/presentations.htm">Gong-like presentations</a> - Workshop at Dipartimento di Elettronica, Informazione e Bioingeneria, Politecnico di Milano – February 27th 2020</strong>
  
 </div>

</div>
